<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/DataScienceAndAI-/blob/main/Control_Structure_(Part_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x=10

In [ ]:
if (x%2==0):
  print("x is even")
else:
  print("its not even")

x is even

In [ ]:
#nested loop

In [ ]:
y=int(input("Enter the number"))
if(y==5):
  print("this is not even")
elif(y==7):
  print("This is the odd number we wanted")
elif(y%2==0):
  print("This is the even number")
else:
  print("This is the odd number we never wanted")

Enter the number23
This is the odd number we never wanted

In [ ]:
print(max(x,y))

23

In [ ]:
#loops and iteration

In [ ]:
#Repeated execution of a set of statements

In [ ]:
#While and For loops

In [ ]:

#Iteration canbe used to access elements of data

In [ ]:
#List iteration

In [ ]:
l=[13,4,2,5,6]

In [ ]:
for i in l:
  print(i*2)

26
8
4
10
12

In [ ]:
#Iterate over a string
strng="I love my country"
for ch in strng:
  print(ch+"i")

Ii
 i
li
oi
vi
ei
 i
mi
yi
 i
ci
oi
ui
ni
ti
ri
yi

In [ ]:
#Iterating over a string - modify print using end:which means we can print the strings in a single line

In [ ]:
for ch in strng:
  print(ch,end="")

I love my country

In [ ]:
#Iteration in dictionaries

In [ ]:
student_data={1:["Anshuman",19],2:["Gulab singh",22],3:["Lallu singh",21]}

In [ ]:
for key,val in student_data.items():
  print(key,val)

#.items() returns a view object that displays a dictionary’s key–value pairs as tuples inside a list-like structure.

#It’s often used when you want to iterate over both keys and values at the same time.

1 ['Anshuman', 19]
2 ['Gulab singh', 22]
3 ['Lallu singh', 21]

In [ ]:
#Iterate over keys of a dictionary:

In [ ]:
for key in student_data.keys():
  print(key)

1
2
3

In [ ]:
#Iterate over values of a dictionary:

In [ ]:
for v in student_data.values():
  print(str(v[1])+" is the age ")

19 is the age
22 is the age
21 is the age

In [ ]:
'''The syntax of the range function is simple. Different implementations of range function include:

range(n): This creates a range object that has elements from 0 to n-1 [ both inclusive].

range(m,n): This creates a range object with elements from m to n-1 [both inclusive].

range(m,n,t): This creates a range object with elements from m to n-1 with a step count of t.

In other words, the range object has elements m, m+t, m+2t…so on. If t is negative, the elements would be decreasing, and that's exactly what happens in the range (100, 0, -1).'''

"The syntax of the range function is simple. Different implementations of range function include:\n\nrange(n): This creates a range object that has elements from 0 to n-1 [ both inclusive].\n\nrange(m,n): This creates a range object with elements from m to n-1 [both inclusive].\n\nrange(m,n,t): This creates a range object with elements from m to n-1 with a step count of t.\n\nIn other words, the range object has elements m, m+t, m+2t…so on. If t is negative, the elements would be decreasing, and that's exactly what happens in the range (100, 0, -1)."

In [ ]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
print(list(range(1,100,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
print(list(range(100,0,-1)))#print  the list in the reverse order

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Prime number using range function between 1-20

In [ ]:
for n in range(1,20):
  flag=True
  for i in range(2,n):
    if n% i==0:
      flag=False
      break
  if flag:
    print(n)

1
2
3
5
7
11
13
17
19

In [ ]:
#While loop event based loop

In [ ]:
ch=""

In [ ]:
while ch!="Quit":
 ch=input()
 print(ch)

re
re
re
re
trr
trr
QUIT
QUIT
Quit
Quit

In [ ]:
chh=3
while type(chh)!=str:
 chh=input()
 print(chh)

3
3

In [ ]:
# Note:input function always returns a string

In [ ]:
#Lets write another sample program

In [ ]:
l1=[10,20,30,40]

In [ ]:
l2=[14,15,16,17]

In [ ]:
i = 0

In [ ]:
while(i < len(l1)):
  print(l1[i]-l2[i],end=" ")
  i=i+1

-4 5 14 23

In [ ]:
#Comprehension:Comprehensions are syntactic costructs that enable sequenceto be buit from other sequences in a clear and concise manner.

In [ ]:
#There are thre types of comprehensions
 #1.list comprehension
 #2.dictionary comprehension
 #3.Set comprehensions

In [ ]:
#Example of comprehensions

In [ ]:
#Here is the traditional for loop

In [ ]:
list1=["abc","cde","efg"]
list2=[]
i=0

In [ ]:
for i in list1:
 list2.append(len(i))

In [ ]:
print (list2)

[3, 3, 3]

In [ ]:
#Now lets see how can we use comprehenion to make it easier

In [ ]:
list3=[len(i) for i in list1]

In [ ]:
print(list3)

[3, 3, 3]

In [ ]:
'''you will see list2 and list 3 are exactly same but we used
1.traditional for loop to get list 2
2.we used list comprehention to get list 3'''

'you will see list2 and list 3 are exactly same but we used\n1.traditional for loop to get list 2\n2.we used list comprehention to get list 3'

In [ ]:
#Dictionary comprehension

In [ ]:
#lets create a dictionary which consists of the element in the list l1 and the length of the list

In [ ]:
dict2={i:len(i) for i in list1}#this is Dictionary cpmrehension

In [ ]:
print(dict2)

{'abc': 3, 'cde': 3, 'efg': 3}

In [ ]:
#Another example of comprehention

In [ ]:
#Write a program which takes a word as input from the user and returns vowels from that word

In [ ]:
word=str(input("Enter a word"))#Actualy no need to use str here because by default input function returns string

Enter a wordtyre

In [ ]:
vowels=[i for i in word if i in"aeiou"]
print(vowels)

['e']

In [ ]:
#Functions in python

In [ ]:
'''syntx:
def function name(argument1,argument2....):
  statement1
  statement2
  return'''

'syntx:\ndef function name(argument1,argument2....):\n  statement1\n  statement2\n  return'

In [ ]:
#FUNCTION ARGUMENT

In [ ]:
def func(name,age=35):# Here age is a default parameter if we donot provide the value for age while calling the function it will return 35 as age
  print("name:",name)
  print("age:",age)

In [ ]:
#Another case where we are using keyword argument

In [ ]:
def KARG(x=2,y=3,z=9):
  print(x,y,z)

In [ ]:
#If we want to get default value of y as output and the value of x and z to be default value how can we achieve it

In [ ]:
#here it is shown it can be done using keyword argument while calling th efunction

In [ ]:
KARG(y=8)#We can specifically write the name of the argument with the value to specify which value we are giving and whose value we are leaving as default value

2 8 9

In [ ]:
#IF WE WANT TO ADD MULTIPLE ARGUMENTS IN A FUNCTION FOR EXAMPLE WHERE THE NUMBER OF ARGUMENT WE DONT KNOW THEN WHAT CAN WE DO

In [ ]:
#WE CAN USE VARIABLE LENGTH PARAMETER JUST USING A "*" IN FRONT OF THE ARGUMENT

In [ ]:
#EXAMPLE

In [ ]:
def varpar(*x):
  print(list(x))

In [ ]:
#Lets call the function can we add infinite numbers of parameter lets check

In [ ]:
varpar(2,3,"instant",9.90,39.98766)

[2, 3, 'instant', 9.9, 39.98766]

In [ ]:
#It worked

In [ ]:
#Summary
"""
Function Parameters in Python

Required Parameters

Must be given when calling a function.

Example: max([1,2,3]) → list is required.

Default Arguments

Have a default value.

If not passed, function uses the default.

Example: def greet(name="Guest"):

Keyword Arguments

Passed using a keyword (key = value).

Example: print("Hello", end=", ")

Variable-length Parameters

Accept multiple arguments.

Use *args (for many values) and **kwargs (for many key-value pairs).


"""

'\nFunction Parameters in Python\n\nRequired Parameters\n\nMust be given when calling a function.\n\nExample: max([1,2,3]) → list is required.\n\nDefault Arguments\n\nHave a default value.\n\nIf not passed, function uses the default.\n\nExample: def greet(name="Guest"):\n\nKeyword Arguments\n\nPassed using a keyword (key = value).\n\nExample: print("Hello", end=", ")\n\nVariable-length Parameters\n\nAccept multiple arguments.\n\nUse *args (for many values) and **kwargs (for many key-value pairs).\n\n\n'

In [ ]:
'''LAMBDA FUNCTION'''

'LAMBDA FUNCTION'

In [ ]:
#Definition:Lambda functions are another way of defining functions to execute small functionalities occurring while implementing a complex functionality.
#These functions can take multiple parameters as input
#but can only execute a single expression;

In [ ]:
#Example

In [ ]:
#lets write a funcion where we give to parameter to a function and it returns their sum

In [ ]:
#Traditional approach
def sum(a,b):
  print(a+b)

In [ ]:
sum(5,4)

9

In [ ]:
#Now lets try to print it using lambda function

In [ ]:
#Syntax:
#function_name  = lambda <space>  input_parameters :  output_parameters

In [ ]:
sumlf=lambda a,b:a+b

In [ ]:
print(sumlf(6,4))

10

In [ ]:
#Map-Filter-Reduce
#This is Most important thing

In [ ]:
#Map is a function that works like list comprehensions and for loops.

In [ ]:
'''map(function, iterable object)

The function here can be a lambda function or a function object.

The iterable object can be a string, list, tuple, set or dictionary.'''

'map(function, iterable object)\n\nThe function here can be a lambda function or a function object.\n\nThe iterable object can be a string, list, tuple, set or dictionary.'

In [ ]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [ ]:
mapcube=map(lambda x:x*x*x,list_numbers)
print(mapcube)#Here it retuns a map object we need to type cast into another collection format
print(list(mapcube))

<map object at 0x78cdb91c4640>
[1, 8, 27, 64]

In [ ]:
#If we are creating a traditional function then this is how it gets passed to the map function for further processing
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

In [ ]:
'''The difference between the previous code and the above-mentioned code is that instead of applying a lambda function,
you can use the function object also'''

'The difference between the previous code and the above-mentioned code is that instead of applying a lambda function,\nyou can use the function object also'

In [ ]:
#Filter Function

In [ ]:
'''Filter' is a similar operation, but it requires the function to look for a condition and then returns only those elements from the collection that satisfy the condition.
'''

"Filter' is a similar operation, but it requires the function to look for a condition and then returns only those elements from the collection that satisfy the condition.\n"

In [ ]:
#Note the function passsed to the filter function is always a boolean function

In [ ]:
#Suppose we have a list where we have mentioned the name of the country
listCon=["India","Israel","Japan","Cyprus","Mauritius"]

In [ ]:
#Lets apply all the three functions and understand waht is the work of all of these Functions

In [ ]:
#Use Map function to chnage the letters name of the countries to uppercase i.e we are making changes in the elements of the list(or collection)
mapex=map(lambda x:x.upper(),listCon)
print(list(mapex))

['INDIA', 'ISRAEL', 'JAPAN', 'CYPRUS', 'MAURITIUS']

In [ ]:
#Use filter function to check a condition if its present in the certain elements in the list or collection or not
#if yes then what are the elemts that satisfies that condition
filterex=filter(lambda x:x.startswith("I"),listCon)
print(list(filterex))

['India', 'Israel']

In [ ]:
#Then lets use the reduce function to check
#THE reduce function reduces the collection(list) to concatenate the country name into a single string variable
#this function is present in functools module we need to import that.
#Always takes functions that atleast have 2 parameters/Arguments

In [ ]:
#Example
from functools import reduce

In [ ]:
reduceex=reduce(lambda x,y:x+" "+y,listCon)
print(reduceex)

India Israel Japan Cyprus Mauritius

In [ ]:
reduceex=reduce(lambda x,y:x+" "+y,listCon)
print(list(reduceex))

['I', 'n', 'd', 'i', 'a', ' ', 'I', 's', 'r', 'a', 'e', 'l', ' ', 'J', 'a', 'p', 'a', 'n', ' ', 'C', 'y', 'p', 'r', 'u', 's', ' ', 'M', 'a', 'u', 'r', 'i', 't', 'i', 'u', 's']

In [ ]:
#iN THE ABOVE 2 FUNCTION JUST AFTER CONVERTING THE REDUCEEX TO LIST IT PRODUCES DIFFERENT OUTPUT THAN THE PRINT(REDUCEX) STATEMNT
#The differenece is because the return object type of the reducefunction we used here is string
#Then in the second line of code when we are converting the sting to a list using this list().
#listfunction takes it as a single string then treats its eachletter as an element of the string and returns a list full of letters

In [ ]:
#notes
'''
#reduce(function, iterable object):

1.The function object passed to the reduce function decides what expression is passed to the iterable object.
2.The iterable object can be a string, list, tuple, set or dictionary.
3.The 'reduce' function produces a single output.

'''

"\n#reduce(function, iterable object):\n\n1.The function object passed to the reduce function decides what expression is passed to the iterable object.\n2.The iterable object can be a string, list, tuple, set or dictionary.\n3.The 'reduce' function produces a single output.\n\n"

In [ ]:
# Some more examples of MAP-FILTER-REDUCE

In [ ]:
#Filter function to return the multiple of 3
list3=[3,4,5,6,7,8]

In [ ]:
multipleof3=filter(lambda x:x%3==0,list3)
print(list(multipleof3))

[3, 6]

In [ ]:
#Write a program in pyhton to count the students above age 18

In [ ]:
stu_data={1:["Sam",15],2:["Ram",12222],3:["xebec",22],4:["Shyam",29],5:["butu",13]}

In [ ]:
len(list(filter(lambda x:x[1]>18,stu_data.values())))

3

In [ ]:
#RETURN PRODUCT OF THE NUMERS FROM 1 TO 4
from functools import reduce
q=reduce(lambda x,y:x*y,range(1,4))
print(q)

6