<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/DataScienceAndAI-/blob/main/DataCleaning_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In the following sections, We will learn to get data into Python from several sources. You will learn how to:

Get data from text files
Get data from relational databases
Scrape data from websites
Get data from publicly available APIs
Read PDFs into Python

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

1.Reading Delimited and Relational Databases

What are Delimited Files?
Delimited files are usually text files, where columns are separated by delimiters (such as commas, tabs, semicolons, etc.), and each new line is a row. We will be learning how to embed and manipulate such data using Python.

-Getting Data From Relational Databases
RDBMS is also often used to store data, and they are simple to import into Python.

We‚Äôll utilise MySQL, which is the most widely used.



Many libraries, such as pymysql, MySQLdb, and others, connect MySQL with Python.

To connect to MySQL, they all use the procedure outlined below:

Create a connection object between MySQL and Python
Construct a cursor object (you use the cursor to open and close the connection)
Run the SQL query.
Using methods like fetchone()and fetchall(), you can get the query‚Äôs results.

In [5]:
comapnies = pd.read_csv('/content/companies.txt',sep="\t",encoding="ISO-8859-1")

In [6]:
comapnies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

Reading Data From Websites

Web scraping is the process of extracting data from the internet using a computer application. Python makes scraping websites simple, which is one of its best advantages.



BeautifulSoup is the most popular web scraping package in Python 3. We‚Äôll also need the requestsmodule to use it, which connects to a URL and retrieves data from it (in HTML format). BeautifulSoup‚Äôs main purpose is to let you quickly parse HTML code, which is what a web page is made up of.

In [7]:
'''Use Case - Fetching Mobile App Reviews from Google Playstore'''
#Let‚Äôs imagine you‚Äôre interested in learning why users download and uninstall mobile apps, as well as why they prefer or dislike certain apps.
# The Google Play Store, where users leave feedback on apps, is a rich source of app-review data.
#We will scrape reviews of the Messenger app, i.e., get them into Python, in the following video, and then you can do some interesting analyses on that.

'Use Case - Fetching Mobile App Reviews from Google Playstore'

In [8]:
!pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.12/dist-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.12/dist-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from html5lib) (0.5.1)

In [10]:
import html5lib
print("current version is: ",html5lib.__version__)

current version is:  1.1

In [11]:
'''from bs4 import BeautifulSoup
import requests

url = "https://play.google.com/store/apps/details?id=com.facebook.katana"
req = requests.get(url)

soup = BeautifulSoup(req.text, "lxml")'''

'from bs4 import BeautifulSoup\nimport requests\n\nurl = "https://play.google.com/store/apps/details?id=com.facebook.katana"\nreq = requests.get(url)\n\nsoup = BeautifulSoup(req.text, "lxml")'

In [12]:
'''#getting all the text inside class="review-body"
reviews=soup.select('.review-body')
print(type(reviews))
print(len(reviews))
print("\n")'''

'#getting all the text inside class="review-body"\nreviews=soup.select(\'.review-body\')\nprint(type(reviews))\nprint(len(reviews))\nprint("\n")'

In [13]:
'''#printing an element of the review list
print(reviews[6])'''

'#printing an element of the review list\nprint(reviews[6])'

In [14]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.7-py3-none-any.whl.metadata (50 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 50.2/50.2 kB 1.3 MB/s eta 0:00:00
Downloading google_play_scraper-1.2.7-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.7

In [15]:
from google_play_scraper import reviews, Sort

result, _ = reviews(
    'com.facebook.orca',
    lang='en',
    country='us',
    sort=Sort.NEWEST,
    count=100
)

for i, r in enumerate(result, start=1):
    print(f"{i}. {r['content']}\n")

1. hmm let's get real for a sec personal experience can be a wild ride right what's specifically on your mind relationships goals or maybe somethings

2. awesome üëç

3. good apps

4. it would be much better to not need multiple apps for one app..

5. Since last update, during video calling, there is a film or something. Absolutely hating the notification that I have sent a picture or video. Whose idea was that?! It is annoying as hell. I would rather have a notification that it has NOT sent. That's what we want. Please fix!

6. good call

7. Absolutely asinine design decision to move Marketplace messages into a hidden area of the app.

8. It was just like being on a land line! much better then a year ago! no fade out or skips! nice and clear call!

9. I like it.

10. hi üëã really good üëçmy strong

11. lafufu

12. good üëç

13. show the messenger download

14. Patricia Doebo

15. Salute

16. very bad experience with this version üíî

17. Stops working randomly

18. maraming naka pasok sa aps ko

19. perfect

20. sound a bit poor

21. Not bad just improve on the audio

22. great call

23. Good

24. Bery nc app

25. Best Customer Service

26. Very sharp and reliable,

27. Brilliant quality. Crystal clear. On speaker on table on front of me. Will be making more calls this way.

28. My chat with my girlfriend got archived and I have no way to use the old archived chat anymore. there was no warning. what gives?

29. Good reception and no interference

30. Notifications for this app are infuriating. Been an issue for over a year. Tells me I have "x" amount of unread messages in a chat. I click the chat to get caught up and even after reading all the messages it will still ping a notification about every 3-5 seconds for EACH individual message I missed. Super annoying in groups chats when there's maybe 2-3 dozen messages that have come in. I've tried clearing my data and cache, reinstalling and/or updating the app probably a dozen times each.

31. good

32. Very good voice calls

33. There is a problem with Marketplace It doesn't stop updating and makes it difficult to respond to customers. When I revert to the previous version, it continues to update automatically to the latest version, only for the same problem to reappear, even though automatic updates are disabled on my device.

34. ÿßÿ≠ÿ≥ŸÜ ŸÖŸÉÿßŸÑŸÖŸá ŸÅŸä ÿ≠Ÿäÿßÿ™Ÿä

35. Audio and video were clear so as to see the progress of my grand nephew build with Lego's.

36. good talk to friends

37. why don't I have meta ai?

38. It's great

39. fix your messenger app. just like Whatsapp, my screen flickers for no reason

40. Charles Matthew Griego, Author owner

41. im canfused, it says i need to update it but its already updated?

42. good

43. Very good

44. good

45. The new integration of ai is a nuisance. why would I use ai to message my friends and family thats absurd. why cant I opt out. the pop ups dont go away and are so annoying.

46. really good

47. Nice clear phone call.

48. AWESOME

49. great work thank you

50. I'm on the same page with some ppl over here. Mine started 2 days ago but the funniest is that in an environment where Instagram works perfectly, ordinary messenger was "waiting for connection", that which I don't get it. The app was updated but I had to uninstall it and reinstall it, but I can't even log in automatically. The App keeps telling me "this page is unavailable right now". Please fix this ASAP!

51. My honest opinion for what that is worth is I like this venue and how easy it fits in with the way I live ,I live alone so communication is vital . I was use to using the phone and it's my Nephew who told me that his generation doesn't like the regular phone and I should send it in message form, and since I started doing that, I find people offer more of themselves than the regular/ old way and that,is ok in my book .

52. nice but I need to learn how to secure my messenger account

53. makuach

54. very useful,anytime anywhere,and its very easy app to use!

55. Boqorada Xidigaha Waad U Qalantaa

56. yeah kinda good for family friends chat but should be more advanced to n terms of sending voice Note like the WhatsApp app

57. It's good.

58. √ëike Bye-bye who are you coming from nice to see you It's Christmas dollar bye-bye please I want

59. good

60. NA BAHARI HAMISU kmr

61. good

62. The best place for cheap but quality. Thumbs up, management üëç üëå üòÄ

63. ultimate

64. good

65. never works properly. always a blank screen when receiving messages. nothing helps when un-installing and installing again. very annoying!

66. nice

67. gji

68. great!!!

69. it's very nice and doesn't use up data

70. üòé

71. Excellent

72. Face book

73. good to have

74. my account was suspend please recover my accout

75. works fine

76. gotta send the same message over and over won't deliver

77. sinjarulsk

78. good

79. i use it EVERYDAY , phenomenal way to share photos , videos and Connection

80. good

81. but connection was low

82. excellent

83. latjor

84. good

85. just like any other phone call can hear when it doesn't matter, can't hear when it does lol

86. I THOUGHT THE CALL WAS FANTASTIC!!!!!!!!

87. pakealamera ng convo

88. thank you

89. okay

90. Good!

91. Hans Lal Yadav Hansraj Yadav

92. Nice

93. Khudabux?

94. there are some issues i cant send a message like it says "couldn't send." whyyyy i have so meany important contacts there.

95. good evening

96. been using it for years, one of the best

97. the app is so easy and it's also a Data saving app it luv it bc it's fast

98. poor

99. It's amazing

100. very good

In [16]:
type(result)

list

Getting Data From APIs

APIs, or application programming interfaces, are created by companies and organisations to provide restricted access to data. It is very common to get data from APIs for data analysis; for example, you can get financial data (stock prices, etc.), social media data (Facebook, Twitter, etc.), weather data, data about healthcare, music, food and drinks, and from almost every domain.



Apart from being rich sources of data, there are other reasons to use APIs:

1.We use APIs when the data requires to be updated in real-time. By contrast, if you use downloaded CSV files, you'll have to download data manually every time it changes and update your analysis multiple times in your program. Through APIs, you can automate the process of getting real-time data.

2.APIs also provide easy access to structured and verified data. Though you can scrape websites, APIs can directly offer data in a structured format with better quality.
3.APIs provide access to restricted data. Often, you cannot scrape all websites easily, which is often illegal (Example: Facebook, financial data, etc.). APIs are the only way to get this data.

In [17]:
#Example Use Case: Google Maps Geocoding API
#Google Maps provides many APIs, one of which is the Google Maps Geocoding API. You can use it to geocode addresses, i.e. get the latitude-longitude coordinates and vice-versa.

#Let us learn more about APIs through the following video.

In [18]:
import numpy as np
import pandas as pd
#need requests to connect to the URL,json to convert to json dictionary
import requests ,json
import pprint

In [19]:
#joining words in the address by a "+"
add="Upgrad, Nishuvi building, Anne Besant Road, Worli,Mumbai"
split_address=add.split(" ")
address="+".join(split_address)
print(address)

Upgrad,+Nishuvi+building,+Anne+Besant+Road,+Worli,Mumbai

In [20]:
# requests = library to talk to URLs (APIs or websites)
import requests

# This is an API URL (returns data, not HTML)
url = "https://httpbin.org/get"

# Send a GET request to the API
# Think: "Hey server, give me the data at this URL"
response = requests.get(url, timeout=20)

# ALWAYS check status code first
# 200 = success
print("Status code:", response.status_code)

# Content-Type tells you what kind of data came back
# application/json = API
print("Content-Type:", response.headers.get("Content-Type"))

# Raw text response (just to visually confirm it's JSON)
print("Raw response (first 300 chars):")
print(response.text[:300])

#URL  ‚Üí  server  ‚Üí  response (JSON text)

Status code: 200
Content-Type: application/json
Raw response (first 300 chars):
{
  "args": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br, zstd",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.32.4",
    "X-Amzn-Trace-Id": "Root=1-695eeb0d-0ff545df6eadf6c234cc9d12"
  },
  "origin": "34.106.114.151",
  "url": "https://h

In [21]:
# Convert JSON text into Python objects (dict + list)
data = response.json()

# APIs almost always return:
# - dict (key-value)
# - OR list of dicts
print("Type of data:", type(data))

# Top-level keys tell you what data exists
print("Top-level keys:", list(data.keys()))

# Print full JSON (safe here because response is small)
print("\nFull JSON:")
print(data)
#JSON  ‚Üí  Python dict/list

Type of data: <class 'dict'>
Top-level keys: ['args', 'headers', 'origin', 'url']

Full JSON:
{'args': {}, 'headers': {'Accept': '*/*', 'Accept-Encoding': 'gzip, deflate, br, zstd', 'Host': 'httpbin.org', 'User-Agent': 'python-requests/2.32.4', 'X-Amzn-Trace-Id': 'Root=1-695eeb0d-0ff545df6eadf6c234cc9d12'}, 'origin': '34.106.114.151', 'url': 'https://httpbin.org/get'}

In [22]:
#Read JSON step-by-step (NO guessing)
# Rule: dict ‚Üí use keys, list ‚Üí use index

# Step 1: Access "args"
# args = query parameters sent to the API
args = data["args"]

print("args type:", type(args))
print("args content:", args)

args type: <class 'dict'>
args content: {}

In [23]:
# "headers" is another dictionary inside the JSON
headers = data["headers"]

print("headers type:", type(headers))
print("header keys:", list(headers.keys()))

headers type: <class 'dict'>
header keys: ['Accept', 'Accept-Encoding', 'Host', 'User-Agent', 'X-Amzn-Trace-Id']

In [24]:
#Safely extract values from JSON
# Use .get() to avoid KeyError if key doesn't exist
user_agent = headers.get("User-Agent")
host = headers.get("Host")

print("User-Agent:", user_agent)
print("Host:", host)

User-Agent: python-requests/2.32.4
Host: httpbin.org

In [25]:
# APIs use ONLY dicts and lists
print("Is headers a list?", isinstance(headers, list))
print("Is headers a dict?", isinstance(headers, dict))

Is headers a list? False
Is headers a dict? True

In [26]:
#Send query parameters to an API
# Query parameters are sent as a dictionary
params = {
    "name": "alice",
    "skill": "python"
}

# requests automatically builds the URL for you
response = requests.get(url, params=params, timeout=20)

# Convert response to JSON again
data = response.json()

# The server echoes back what it received
print("Query parameters received by server:")
print(data["args"])

Query parameters received by server:
{'name': 'alice', 'skill': 'python'}

In [27]:
#See the final URL (proof)
# This shows the actual URL that was called
print("Final URL used:")
print(data["url"])

Final URL used:
https://httpbin.org/get?name=alice&skill=python

In [28]:
#Recognize API vs Website
# Website (HTML)
website_response = requests.get("https://example.com", timeout=20)

# API (JSON)
api_response = requests.get("https://httpbin.org/get", timeout=20)

print("Website response starts with:")
print(website_response.text[:40])

print("\nAPI response starts with:")
print(api_response.text[:40])

Website response starts with:
<!doctype html><html lang="en"><head><ti

API response starts with:
{
  "args": {},
  "headers": {
    "Acc

In [29]:
type(data)
data.keys()

dict_keys(['args', 'headers', 'origin', 'url'])

Reading Data From PDF Files

1.Reading PDF files is not as straightforward as reading text or delimited files using Python since PDFs often contain images, tables, etc. PDFs are mainly designed to be human-readable, and thus you need special libraries to read them in Python (or any other programming language).

2.There are some great libraries in Python. We will use PyPDF2 to read PDFs in Python since it is easy to use and works with most PDFs.

3.Python will only be able to read text from PDFs, not images, tables etc (though that is possible using other specialised libraries).

In [30]:
%pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl.metadata (6.8 kB)
Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 232.6/232.6 kB 3.1 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [31]:
from PyPDF2 import PdfReader

# Path to your PDF file
pdf_path = "/content/animal_farm.pdf"

# Create a PDF reader object
reader = PdfReader(pdf_path)

# Number of pages in the PDF
print("Total pages:", len(reader.pages))

Total pages: 55

In [32]:
#Read text from one page
# Get the first page (index starts at 0)
page = reader.pages[3]

# Extract text from the page
text = page.extract_text()

print(text)

You cows that I see before me, how many thousands of gallons of milk have
you given during this last year? And what has happened to that milk which
should have been breeding up sturdy calves? Every drop of it has gone down
the throats of our enemies. And you hens, how many eggs have you laid in this
last year, and how many of those eggs ever hatched into chickens? The rest
have all gone to market to bring in money for Jones and his men. And you,
Clover, where are those four foals you bore, who should have been the support
and pleasure of your old age? Each was sold at a year old ‚Äî you will never see
one of them again. In return for your four conÔ¨Ånements and all your labour in
the Ô¨Åelds, what have you ever had except your bare rations and a stall?
‚ÄòAnd even the miserable lives we lead are not allowed to reach their natural
span. For myself I do not grumble, for I am one of the lucky ones. I am twelve
years old and have had over four hundred children. Such is the natural life of
a pig. But no animal escapes the cruel knife in the end. You young porkers
who are sitting in front of me, every one of you will scream your lives out at the
block within a year. To that horror we all must come ‚Äî cows, pigs, hens, sheep,
everyone. Even the horses and the dogs have no better fate. You, Boxer, the
very day that those great muscles of yours lose their power, Jones will sell you
to the knacker, who will cut your throat and boil you down for the foxhounds.
As for the dogs, when they grow old and toothless, Jones ties a brick round
their necks and drowns them in the nearest pond.
‚ÄòIs it not crystal clear, then, comrades, that all the evils of this life of ours
spring from the tyranny of human beings? Only get rid of Man, and the produce
of our labour would be our own. A1most overnight we could become rich and
free. What then must we do? Why, work night and day, body and soul, for the
overthrow of the human race! That is my message to you, comrades: Rebellion!
I do not know when that Rebellion will come, it might be in a week or in a
hundred years, but I know, as surely as I see this straw beneath my feet, that
sooner or later justice will be done. Fix your eyes on that, comrades, throughout
the short remainder of your lives! And above all, pass on this message of mine to
those who come after you, so that future generations shall carry on the struggle
until it is victorious.
‚ÄòAnd remember, comrades, your resolution must never falter. No argument
must lead you astray. Never listen when they tell you that Man and the animals
have a common interest, that the prosperity of the one is the prosperity of the
others. It is all lies. Man serves the interests of no creature except himself.
And among us animals let there be perfect unity, perfect comradeship in the
struggle. All men are enemies. All animals are comrades.‚Äô
At this moment there was a tremendous uproar. While Major was speaking
four large rats had crept out of their holes and were sitting on their hindquarters,
listening to him. The dogs had suddenly caught sight of them, and it was only
by a swift dash for their holes that the rats saved their lives. Major raised his
trotter for silence.
‚ÄòComrades,‚Äô he said, ‚Äòhere is a point that must be settled. The wild creatures,
such as rats and rabbits ‚Äî are they our friends or our enemies? Let us put it
to the vote. I propose this question to the meeting: Are rats comrades?‚Äô
The vote was taken at once, and it was agreed by an overwhelming majority
that rats were comrades. There were only four dissentients, the three dogs and
the cat, who was afterwards discovered to have voted on both sides. Major
continued:
3

In [33]:

#Read all pages
all_text = ""

for i, page in enumerate(reader.pages):
    page_text = page.extract_text()

    print(f"--- Page {i+1} ---")
    print(page_text[:300])  # preview

    if page_text:
        all_text += page_text + "\n"

--- Page 1 ---
Animal Farm
George Orwell
1945
--- Page 2 ---
I
Mr. Jones, of the Manor Farm, had locked the hen-houses for the night, but
was too drunk to remember to shut the popholes. With the ring of light from
his lantern dancing from side to side, he lurched across the yard, kicked oÔ¨Ä his
boots at the back door, drew himself a last glass of beer from the
--- Page 3 ---
of them usually spent their Sundays together in the small paddock beyond the
orchard, grazing side by side and never speaking.
The two horses had just lain down when a brood of ducklings, which had lost
their mother, Ô¨Åled into the barn, cheeping feebly and wandering from side to
side to Ô¨Ånd some pla
--- Page 4 ---
You cows that I see before me, how many thousands of gallons of milk have
you given during this last year? And what has happened to that milk which
should have been breeding up sturdy calves? Every drop of it has gone down
the throats of our enemies. And you hens, how many eggs have you laid in this
--- Page 5 ---
‚ÄòI have little more to say. I merely repeat, remember always your duty of
enmity towards Man and all his ways. Whatever goes upon two legs is an enemy.
Whatever goes upon four legs, or has wings, is a friend. And remember also
that in Ô¨Åghting against Man, we must not come to resemble him. Even when

--- Page 6 ---
Cows and horses, geese and turkeys,
All must toil for freedom‚Äôs sake.
Beasts of England, beasts of Ireland,
Beasts of every land and clime,
Hearken well and spread my tidings
Of the golden future time.
The singing of this song threw the animals into the wildest excitement.
Almost before Major had re
--- Page 7 ---
II
Three nights later old Major died peacefully in his sleep. His body was buried
at the foot of the orchard.
This was early in March. During the next three months there was much
secret activity. Major‚Äôs speech had given to the more intelligent animals on the
farm a completely new outlook on life. T
--- Page 8 ---
ribbons?‚Äô
Mollie agreed, but she did not sound very convinced.
The pigs had an even harder struggle to counteract the lies put about by
Moses, the tame raven. Moses, who was Mr. Jones‚Äôs especial pet, was a spy
and a tale-bearer, but he was also a clever talker. He claimed to know of the
existence of
--- Page 9 ---
by another way. Moses sprang oÔ¨Ä his perch and Ô¨Çapped after her, croaking
loudly. Meanwhile the animals had chased Jones and his men out on to the
road and slammed the Ô¨Åve-barred gate behind them. And so, almost before
they knew what was happening, the Rebellion had been successfully carried
through:
--- Page 10 ---
from Mrs. Jones‚Äôs dressing-table, and was holding it against her shoulder and
admiring herself in the glass in a very foolish manner. The others reproached
her sharply, and they went outside. Some hams hanging in the kitchen were
taken out for burial, and the barrel of beer in the scullery was stove
--- Page 11 ---
‚ÄòNow, comrades,‚Äô cried Snowball, throwing down the paint-brush, ‚Äòto the
hayÔ¨Åeld! Let us make it a point of honour to get in the harvest more quickly
than Jones and his men could do.‚Äô
But at this moment the three cows, who had seemed uneasy for some time
past, set up a loud lowing. They had not been
--- Page 12 ---
III
How they toiled and sweated to get the hay in! But their eÔ¨Äorts were rewarded,
for the harvest was an even bigger success than they had hoped.
Sometimes the work was hard; the implements had been designed for human
beings and not for animals, and it was a great drawback that no animal was
able t
--- Page 13 ---
every setback, was ‚ÄòI will work harder!‚Äô ‚Äî which he had adopted as his personal
motto.
But everyone worked according to his capacity The hens and ducks, for
instance, saved Ô¨Åve bushels of corn at the harvest by gathering up the stray
grains. Nobody stole, nobody grumbled over his rations, the quarre
--- Page 14 ---
instituting classes in reading and writing. On the whole, these projects were
a failure. The attempt to tame the wild creatures, for instance, broke down
almost immediately. They continued to behave very much as before, and when
treated with generosity, simply took advantage of it. The cat joined th
--- Page 15 ---
cation of the young was more important than anything that could be done for
those who were already grown up. It happened that Jessie and Bluebell had
both whelped soon after the hay harvest, giving birth between them to nine
sturdy puppies. As soon as they were weaned, Napoleon took them away from
t
--- Page 16 ---
IV
By the late summer the news of what had happened on Animal Farm had spread
across half the county. Every day Snowball and Napoleon sent out Ô¨Çights of
pigeons whose instructions were to mingle with the animals on neighbouring
farms, tell them the story of the Rebellion, and teach them the tune of
--- Page 17 ---
down hedges and devoured the clover, cows kicked the pail over, hunters refused
their fences and shot their riders on to the other side.Above all, the tune and
even the words of Beasts of England were known everywhere. It had spread
with astonishing speed. The human beings could not contain their ra
--- Page 18 ---
They were gored, kicked, bitten, trampled on. There was not an animal on the
farm that did not take vengeance on them after his own fashion. Even the cat
suddenly leapt oÔ¨Ä a roof onto a cowman‚Äôs shoulders and sank her claws in his
neck, at which he yelled horribly. At a moment when the opening was c
--- Page 19 ---
V
As winter drew on, Mollie became more and more troublesome. She was late
for work every morning and excused herself by saying that she had overslept,
and she complained of mysterious pains, although her appetite was excellent.
On every kind of pretext she would run away from work and go to the dri
--- Page 20 ---
Napoleon. These two disagreed at every point where disagreement was possible.
If one of them suggested sowing a bigger acreage with barley, the other was
certain to demand a bigger acreage of oats, and if one of them said that such
and such a Ô¨Åeld was just right for cabbages, the other would declare
--- Page 21 ---
The whole farm was deeply divided on the subject of the windmill. Snowball
did not deny that to build it would be a diÔ¨Écult business. Stone would have
to be carried and built up into walls, then the sails would have to be made
and after that there would be need for dynamos and cables. (How these wer
--- Page 22 ---
up and, casting a peculiar sidelong look at Snowball, uttered a high-pitched
whimper of a kind no one had ever heard him utter before.
At this there was a terrible baying sound outside, and nine enormous dogs
wearing brass-studded collars came bounding into the barn. They dashed
straight for Snowbal
--- Page 23 ---
decisions, comrades, and then where should we be? Suppose you had decided
to follow Snowball, with his moonshine of windmills ‚Äî Snowball, who, as we
now know, was no better than a criminal?‚Äô
‚ÄòHe fought bravely at the Battle of the Cowshed,‚Äô said somebody.
‚ÄòBravery is not enough,‚Äô said Squealer. ‚ÄòLoy
--- Page 24 ---
laugh. The animals were not certain what the word meant, but Squealer spoke
so persuasively, and the three dogs who happened to be with him growled so
threateningly, that they accepted his explanation without further questions.
23
--- Page 25 ---
VI
All that year the animals worked like slaves. But they were happy in their work;
they grudged no eÔ¨Äort or sacriÔ¨Åce, well aware that everything that they did was
for the beneÔ¨Åt of themselves and those of their kind who would come after them,
and not for a pack of idle, thieving human beings.
Throu
--- Page 26 ---
his hoofs clawing at the ground, and his great sides matted with sweat, Ô¨Ålled
everyone with admiration. Clover warned him sometimes to be careful not to
overstrain himself, but Boxer would never listen to her. His two slogans, ‚ÄòI will
work harder‚Äô and ‚ÄòNapoleon is always right,‚Äô seemed to him a suÔ¨Éc
--- Page 27 ---
live Animal Farm!‚Äô and after the singing of Beasts of England the animals were
dismissed.
Afterwards Squealer made a round of the farm and set the animals‚Äô minds
at rest. He assured them that the resolution against engaging in trade and
using money had never been passed, or even suggested. It was pu
--- Page 28 ---
‚ÄòMuriel,‚Äô she said, ‚Äòread me the Fourth Commandment. Does it not say
something about never sleeping in a bed?‚Äô
With some diÔ¨Éculty Muriel spelt it out.
‚ÄòIt says, ‚ÄôNo animal shall sleep in a bed with sheets ,‚Äù she announced Ô¨Ånally.
Curiously enough, Clover had not remembered that the Fourth Command-
m
--- Page 29 ---
in silence, occasionally snuÔ¨Éng at the ground. His tail had grown rigid and
twitched sharply from side to side, a sign in him of intense mental activity.
Suddenly he halted as though his mind were made up.
‚ÄòComrades,‚Äô he said quietly, ‚Äòdo you know who is responsible for this? Do
you know the enemy w
--- Page 30 ---
VII
It was a bitter winter. The stormy weather was followed by sleet and snow, and
then by a hard frost which did not break till well into February. The animals
carried on as best they could with the rebuilding of the windmill, well knowing
that the outside world was watching them and that the envio
--- Page 31 ---
Animal Farm.
Nevertheless, towards the end of January it became obvious that it would be
necessary to procure some more grain from somewhere. In these days Napoleon
rarely appeared in public, but spent all his time in the farmhouse, which was
guarded at each door by Ô¨Åerce-looking dogs. When he did e
--- Page 32 ---
believing this even after the mislaid key was found under a sack of meal. The
cows declared unanimously that Snowball crept into their stalls and milked them
in their sleep. The rats, which had been troublesome that winter, were also said
to be in league with Snowball.
Napoleon decreed that there sh
--- Page 33 ---
grazed him. I could show you this in his own writing, if you were able to read
it. The plot was for Snowball, at the critical moment, to give the signal for
Ô¨Çight and leave the Ô¨Åeld to the enemy. And he very nearly succeeded ‚Äî I will
even say, comrades, he would have succeeded if it had not been for
--- Page 34 ---
to confess their crimes. They were the same four pigs as had protested when
Napoleon abolished the Sunday Meetings. Without any further prompting they
confessed that they had been secretly in touch with Snowball ever since his
expulsion, that they had collaborated with him in destroying the windmill
--- Page 35 ---
farm ‚Äî and with a kind of surprise they remembered that it was their own farm,
every inch of it their own property ‚Äî appeared to the animals so desirable a
place. As Clover looked down the hillside her eyes Ô¨Ålled with tears. If she could
have spoken her thoughts, it would have been to say that this
--- Page 36 ---
VIII
A few days later, when the terror caused by the executions had died down, some
of the animals remembered ‚Äî or thought they remembered ‚Äî that the Sixth
Commandment decreed ‚ÄòNo animal shall kill any other animal.‚Äô And though no
one cared to mention it in the hearing of the pigs or the dogs, it wa
--- Page 37 ---
Squealer would talk with the tears rolling down his cheeks of Napoleon‚Äôs wisdom
the goodness of his heart, and the deep love he bore to all animals everywhere,
even and especially the unhappy animals who still lived in ignorance and slavery
on other farms. It had become usual to give Napoleon the cr
--- Page 38 ---
each corner, and a young pig named Pinkeye was given the task of tasting all
his food before he ate it, lest it should be poisoned.
At about the same time it was given out that Napoleon had arranged to sell
the pile of timber to Mr. Pilkington; he was also going to enter into a regu-
lar agreement f
--- Page 39 ---
them low this time! And when they thought of how they had laboured, what
discouragements they had overcome, and the enormous diÔ¨Äerence that would
be made in their lives when the sails were turning and the dynamos running ‚Äî
when they thought of all this, their tiredness forsook them and they gambolle
--- Page 40 ---
treacherous deed the worst was to be expected. Frederick and his men might
make their long-expected attack at any moment. Sentinels were placed at all the
approaches to the farm. In addition, four pigeons were sent to Foxwood with a
conciliatory message, which it was hoped might re-establish good re
--- Page 41 ---
tail chipped by a pellet. But the men did not go unscathed either. Three of
them had their heads broken by blows from Boxer‚Äôs hoofs; another was gored
in the belly by a cow‚Äôs horn; another had his trousers nearly torn oÔ¨Ä by Jessie
and Bluebell. And when the nine dogs of Napoleon‚Äôs own bodyguard, who
--- Page 42 ---
were given over to celebrations. There were songs, speeches, and more Ô¨Åring of
the gun, and a special gift of an apple was bestowed on every animal, with two
ounces of corn for each bird and three biscuits for each dog. It was announced
that the battle would be called the Battle of the Windmill, and
--- Page 43 ---
remembered wrong. They had thought the Fifth Commandment was ‚ÄòNo animal
shall drink alcohol,‚Äô but there were two words that they had forgotten. Actually
the Commandment read: ‚ÄòNo animal shall drink alcohol to excess .‚Äô
42
--- Page 44 ---
IX
Boxer‚Äôs split hoof was a long time in healing. They had started the rebuilding
of the windmill the day after the victory celebrations were ended Boxer refused
to take even a day oÔ¨Ä work, and made it a point of honour not to let it be seen
that he was in pain. In the evenings he would admit privat
--- Page 45 ---
they were free, and that made all the diÔ¨Äerence, as Squealer did not fail to point
out.
There were many more mouths to feed now. In the autumn the four sows
had all littered about simultaneously, producing thirty-one young pigs between
them. The young pigs were piebald, and as Napoleon was the only
--- Page 46 ---
of foodstuÔ¨Äs, and on occasion a shot was Ô¨Åred from the gun. The sheep were the
greatest devotees of the Spontaneous Demonstration, and if anyone complained
(as a few animals sometimes did, when no pigs or dogs were near) that they
wasted time and meant a lot of standing about in the cold, the sheep
--- Page 47 ---
were seen to form the words, ‚ÄòI will work harder‚Äô; he had no voice left. Once
again Clover and Benjamin warned him to take care of his health, but Boxer
paid no attention. His twelfth birthday was approaching. He did not care what
happened so long as a good store of stone was accumulated before he w
--- Page 48 ---
and it was in the middle of the day when the van came to take him away. The
animals were all at work weeding turnips under the supervision of a pig, when
they were astonished to see Benjamin come galloping from the direction of the
farm buildings, braying at the top of his voice. It was the Ô¨Årst tim
--- Page 49 ---
Boxer‚Äôs last hours.
‚ÄòIt was the most aÔ¨Äecting sight I have ever seen!‚Äô said Squealer, lifting his
trotter and wiping away a tear. ‚ÄòI was at his bedside at the very last. And at
the end, almost too weak to speak, he whispered in my ear that his sole sorrow
was to have passed on before the windmill wa
--- Page 50 ---
X
Years passed. The seasons came and went, the short animal lives Ô¨Çed by. A
time came when there was no one who remembered the old days before the
Rebellion, except Clover, Benjamin, Moses the raven, and a number of the pigs.
Muriel was dead; Bluebell, Jessie, and Pincher were dead. Jones too was
de
--- Page 51 ---
dogs. Perhaps this was partly because there were so many pigs and so many
dogs. It was not that these creatures did not work, after their fashion. There
was, as Squealer was never tired of explaining, endless work in the supervision
and organisation of the farm. Much of this work was of a kind that
--- Page 52 ---
become overgrown with birch saplings. The sheep spent the whole day there
browsing at the leaves under Squealer‚Äôs supervision. In the evening he returned
to the farmhouse himself, but, as it was warm weather, told the sheep to stay
where they were. It ended by their remaining there for a whole week,
--- Page 53 ---
ALL ANIMALS ARE EQUAL
BUT SOME ANIMALS ARE MORE EQUAL THAN OTHERS
After that it did not seem strange when next day the pigs who were su-
pervising the work of the farm all carried whips in their trotters. It did not
seem strange to learn that the pigs had bought themselves a wireless set, were
arran
--- Page 54 ---
employees. But all such doubts were now dispelled. Today he and his friends
had visited Animal Farm and inspected every inch of it with their own eyes, and
what did they Ô¨Ånd? Not only the most up-to-date methods, but a discipline
and an orderliness which should be an example to all farmers everywher
--- Page 55 ---
and neighbourly speech. Mr. Pilkington had referred throughout to ‚ÄòAnimal
Farm.‚Äô He could not of course know ‚Äî for he, Napoleon, was only now for the
Ô¨Årst time announcing it ‚Äî that the name ‚ÄòAnimal Farm‚Äô had been abolished.
Henceforward the farm was to be known as ‚ÄòThe Manor Farm‚Äô ‚Äî which, he
believ

In [34]:
#Save extracted text to a file
with open("pdfoutput.txt", "w", encoding="utf-8") as f:
    f.write(all_text)

‚ùå Limitations of PyPDF2

Weak with tables

Bad with columns

Struggles with complex layouts

That‚Äôs why professionals usually use pdfplumber.

In [35]:
#pdfplumber (BETTER for real work)

In [36]:
%pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.11.9-py3-none-any.whl.metadata (43 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 43.6/43.6 kB 1.1 MB/s eta 0:00:00
Collecting pdfminer.six==20251230 (from pdfplumber)
  Downloading pdfminer_six-20251230-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.12/dist-packages (from pdfplumber) (11.3.0)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-5.3.0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (67 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 67.8/67.8 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from pdfminer.six==20251230->pdfplumber) (3.4.4)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.12/dist-packages (from pdfminer.six==20251230->pdfplumber) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber) (2.23)
Downloading pdfplumber-0.11.9-py3-none-any.whl (60 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 60.0/60.0 kB 5.1 MB/s eta 0:00:00
Downloading pdfminer_six-20251230-py3-none-any.whl (6.6 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 6.6/6.6 MB 40.4 MB/s eta 0:00:00
Downloading pypdfium2-5.3.0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.0/3.0 MB 76.4 MB/s eta 0:00:00
Installing collected packages: pypdfium2, pdfminer.six, pdfplumber
Successfully installed pdfminer.six-20251230 pdfplumber-0.11.9 pypdfium2-5.3.0

In [37]:
#Open PDF with pdfplumberimport
import pdfplumber

pdf_path = "/content/animal_farm.pdf"

with pdfplumber.open(pdf_path) as pdf:
    print("Total pages:", len(pdf.pages))

Total pages: 55

In [38]:
#Extract text(cleaner than PyPDF2)
with pdfplumber.open(pdf_path) as pdf:
    page = pdf.pages[3]
    text = page.extract_text()

print(text)

You cows that I see before me, how many thousands of gallons of milk have
you given during this last year? And what has happened to that milk which
should have been breeding up sturdy calves? Every drop of it has gone down
the throats of our enemies. And you hens, how many eggs have you laid in this
last year, and how many of those eggs ever hatched into chickens? The rest
have all gone to market to bring in money for Jones and his men. And you,
Clover, where are those four foals you bore, who should have been the support
and pleasure of your old age? Each was sold at a year old ‚Äî you will never see
one of them again. In return for your four confinements and all your labour in
the fields, what have you ever had except your bare rations and a stall?
‚ÄòAnd even the miserable lives we lead are not allowed to reach their natural
span. For myself I do not grumble, for I am one of the lucky ones. I am twelve
years old and have had over four hundred children. Such is the natural life of
a pig. But no animal escapes the cruel knife in the end. You young porkers
whoaresittinginfrontofme,everyoneofyouwillscreamyourlivesoutatthe
blockwithinayear. Tothathorrorweallmustcome‚Äîcows,pigs,hens,sheep,
everyone. Even the horses and the dogs have no better fate. You, Boxer, the
very day that those great muscles of yours lose their power, Jones will sell you
to the knacker, who will cut your throat and boil you down for the foxhounds.
As for the dogs, when they grow old and toothless, Jones ties a brick round
their necks and drowns them in the nearest pond.
‚ÄòIs it not crystal clear, then, comrades, that all the evils of this life of ours
springfromthetyrannyofhumanbeings? OnlygetridofMan,andtheproduce
of our labour would be our own. A1most overnight we could become rich and
free. What then must we do? Why, work night and day, body and soul, for the
overthrowofthehumanrace! Thatismymessagetoyou, comrades: Rebellion!
I do not know when that Rebellion will come, it might be in a week or in a
hundred years, but I know, as surely as I see this straw beneath my feet, that
soonerorlaterjusticewillbedone. Fixyoureyesonthat,comrades,throughout
theshortremainderofyourlives! Andaboveall,passonthismessageofmineto
thosewhocomeafteryou, sothatfuturegenerationsshallcarryonthestruggle
until it is victorious.
‚ÄòAnd remember, comrades, your resolution must never falter. No argument
mustleadyouastray. NeverlistenwhentheytellyouthatManandtheanimals
have a common interest, that the prosperity of the one is the prosperity of the
others. It is all lies. Man serves the interests of no creature except himself.
And among us animals let there be perfect unity, perfect comradeship in the
struggle. All men are enemies. All animals are comrades.‚Äô
At this moment there was a tremendous uproar. While Major was speaking
fourlargeratshadcreptoutoftheirholesandweresittingontheirhindquarters,
listening to him. The dogs had suddenly caught sight of them, and it was only
by a swift dash for their holes that the rats saved their lives. Major raised his
trotter for silence.
‚ÄòComrades,‚Äôhesaid,‚Äòhereisapointthatmustbesettled. Thewildcreatures,
such as rats and rabbits ‚Äî are they our friends or our enemies? Let us put it
to the vote. I propose this question to the meeting: Are rats comrades?‚Äô
Thevotewastakenatonce,anditwasagreedbyanoverwhelmingmajority
that rats were comrades. There were only four dissentients, the three dogs and
the cat, who was afterwards discovered to have voted on both sides. Major
continued:
3

Why this is better:

Better text order

Better spacing

Handles columns more reliably

In [39]:
all_text = ""

with pdfplumber.open(pdf_path) as pdf:
    for i, page in enumerate(pdf.pages):
        page_text = page.extract_text()

        print(f"--- Page {i+1} ---")
        print(page_text[:300])

        if page_text:
            all_text += page_text + "\n"

--- Page 1 ---
Animal Farm
George Orwell
1945
--- Page 2 ---
I
Mr. Jones, of the Manor Farm, had locked the hen-houses for the night, but
was too drunk to remember to shut the popholes. With the ring of light from
his lantern dancing from side to side, he lurched across the yard, kicked off his
boots at the back door, drew himself a last glass of beer from th
--- Page 3 ---
of them usually spent their Sundays together in the small paddock beyond the
orchard, grazing side by side and never speaking.
Thetwohorseshadjustlaindownwhenabroodofducklings,whichhadlost
their mother, filed into the barn, cheeping feebly and wandering from side to
sidetofindsomeplacewheretheywould
--- Page 4 ---
You cows that I see before me, how many thousands of gallons of milk have
you given during this last year? And what has happened to that milk which
should have been breeding up sturdy calves? Every drop of it has gone down
the throats of our enemies. And you hens, how many eggs have you laid in this
--- Page 5 ---
‚ÄòI have little more to say. I merely repeat, remember always your duty of
enmitytowardsManandallhisways. Whatevergoesupontwolegsisanenemy.
Whatever goes upon four legs, or has wings, is a friend. And remember also
that in fighting against Man, we must not come to resemble him. Even when
you have con
--- Page 6 ---
Cows and horses, geese and turkeys,
All must toil for freedom‚Äôs sake.
Beasts of England, beasts of Ireland,
Beasts of every land and clime,
Hearken well and spread my tidings
Of the golden future time.
The singing of this song threw the animals into the wildest excitement.
Almost before Major had re
--- Page 7 ---
II
Three nights later old Major died peacefully in his sleep. His body was buried
at the foot of the orchard.
This was early in March. During the next three months there was much
secret activity. Major‚Äôs speech had given to the more intelligent animals on the
farm a completely new outlook on life. T
--- Page 8 ---
ribbons?‚Äô
Mollie agreed, but she did not sound very convinced.
The pigs had an even harder struggle to counteract the lies put about by
Moses, the tame raven. Moses, who was Mr. Jones‚Äôs especial pet, was a spy
and a tale-bearer, but he was also a clever talker. He claimed to know of the
existence of
--- Page 9 ---
by another way. Moses sprang off his perch and flapped after her, croaking
loudly. Meanwhile the animals had chased Jones and his men out on to the
road and slammed the five-barred gate behind them. And so, almost before
they knew what was happening, the Rebellion had been successfully carried
throu
--- Page 10 ---
from Mrs. Jones‚Äôs dressing-table, and was holding it against her shoulder and
admiring herself in the glass in a very foolish manner. The others reproached
her sharply, and they went outside. Some hams hanging in the kitchen were
taken out for burial, and the barrel of beer in the scullery was stove
--- Page 11 ---
‚ÄòNow, comrades,‚Äô cried Snowball, throwing down the paint-brush, ‚Äòto the
hayfield! Let us make it a point of honour to get in the harvest more quickly
than Jones and his men could do.‚Äô
But at this moment the three cows, who had seemed uneasy for some time
past, set up a loud lowing. They had not been
--- Page 12 ---
III
Howtheytoiledandsweatedtogetthehayin! Buttheireffortswererewarded,
for the harvest was an even bigger success than they had hoped.
Sometimestheworkwashard;theimplementshadbeendesignedforhuman
beings and not for animals, and it was a great drawback that no animal was
able to use any tool that inv
--- Page 13 ---
everysetback,was‚ÄòIwillworkharder!‚Äô ‚Äîwhichhehadadoptedashispersonal
motto.
But everyone worked according to his capacity The hens and ducks, for
instance, saved five bushels of corn at the harvest by gathering up the stray
grains. Nobody stole, nobody grumbled over his rations, the quarrelling and
bi
--- Page 14 ---
instituting classes in reading and writing. On the whole, these projects were
a failure. The attempt to tame the wild creatures, for instance, broke down
almost immediately. They continued to behave very much as before, and when
treated with generosity, simply took advantage of it. The cat joined th
--- Page 15 ---
cation of the young was more important than anything that could be done for
those who were already grown up. It happened that Jessie and Bluebell had
both whelped soon after the hay harvest, giving birth between them to nine
sturdy puppies. As soon as they were weaned, Napoleon took them away from
t
--- Page 16 ---
IV
BythelatesummerthenewsofwhathadhappenedonAnimalFarmhadspread
across half the county. Every day Snowball and Napoleon sent out flights of
pigeons whose instructions were to mingle with the animals on neighbouring
farms, tell them the story of the Rebellion, and teach them the tune of Beasts
of Eng
--- Page 17 ---
downhedgesanddevouredtheclover,cowskickedthepailover,huntersrefused
their fences and shot their riders on to the other side.Above all, the tune and
even the words of Beasts of England were known everywhere. It had spread
with astonishing speed. The human beings could not contain their rage when
they
--- Page 18 ---
They were gored, kicked, bitten, trampled on. There was not an animal on the
farm that did not take vengeance on them after his own fashion. Even the cat
suddenly leapt off a roof onto a cowman‚Äôs shoulders and sank her claws in his
neck, at which he yelled horribly. At a moment when the opening was
--- Page 19 ---
V
As winter drew on, Mollie became more and more troublesome. She was late
for work every morning and excused herself by saying that she had overslept,
and she complained of mysterious pains, although her appetite was excellent.
On every kind of pretext she would run away from work and go to the dri
--- Page 20 ---
Napoleon. Thesetwodisagreedateverypointwheredisagreementwaspossible.
If one of them suggested sowing a bigger acreage with barley, the other was
certain to demand a bigger acreage of oats, and if one of them said that such
and such a field was just right for cabbages, the other would declare that it
--- Page 21 ---
Thewholefarmwasdeeplydividedonthesubjectofthewindmill. Snowball
did not deny that to build it would be a difficult business. Stone would have
to be carried and built up into walls, then the sails would have to be made
and after that there would be need for dynamos and cables. (How these were
to be p
--- Page 22 ---
up and, casting a peculiar sidelong look at Snowball, uttered a high-pitched
whimper of a kind no one had ever heard him utter before.
At this there was a terrible baying sound outside, and nine enormous dogs
wearing brass-studded collars came bounding into the barn. They dashed
straight for Snowbal
--- Page 23 ---
decisions, comrades, and then where should we be? Suppose you had decided
to follow Snowball, with his moonshine of windmills ‚Äî Snowball, who, as we
now know, was no better than a criminal?‚Äô
‚ÄòHe fought bravely at the Battle of the Cowshed,‚Äô said somebody.
‚ÄòBravery is not enough,‚Äô said Squealer. ‚ÄòLoy
--- Page 24 ---
laugh. The animals were not certain what the word meant, but Squealer spoke
so persuasively, and the three dogs who happened to be with him growled so
threateningly, that they accepted his explanation without further questions.
23
--- Page 25 ---
VI
Allthatyeartheanimalsworkedlikeslaves. Buttheywerehappyintheirwork;
theygrudgednoeffortorsacrifice,wellawarethateverythingthattheydidwas
forthebenefitofthemselvesandthoseoftheirkindwhowouldcomeafterthem,
and not for a pack of idle, thieving human beings.
Throughout the spring and summer they work
--- Page 26 ---
his hoofs clawing at the ground, and his great sides matted with sweat, filled
everyone with admiration. Clover warned him sometimes to be careful not to
overstrain himself, but Boxer would never listen to her. His two slogans, ‚ÄòI will
work harder‚Äô and ‚ÄòNapoleon is always right,‚Äô seemed to him a suf
--- Page 27 ---
live Animal Farm!‚Äô and after the singing of Beasts of England the animals were
dismissed.
Afterwards Squealer made a round of the farm and set the animals‚Äô minds
at rest. He assured them that the resolution against engaging in trade and
using money had never been passed, or even suggested. It was pu
--- Page 28 ---
‚ÄòMuriel,‚Äô she said, ‚Äòread me the Fourth Commandment. Does it not say
something about never sleeping in a bed?‚Äô
With some difficulty Muriel spelt it out.
‚ÄòIt says, ‚ÄôNo animal shall sleep in a bed with sheets,‚Äù she announced finally.
Curiously enough, Clover had not remembered that the Fourth Command-
--- Page 29 ---
in silence, occasionally snuffing at the ground. His tail had grown rigid and
twitched sharply from side to side, a sign in him of intense mental activity.
Suddenly he halted as though his mind were made up.
‚ÄòComrades,‚Äô he said quietly, ‚Äòdo you know who is responsible for this? Do
you know the enemy
--- Page 30 ---
VII
Itwasabitterwinter. Thestormyweatherwasfollowedbysleetandsnow, and
then by a hard frost which did not break till well into February. The animals
carried on as best they could with the rebuilding of the windmill, well knowing
that the outside world was watching them and that the envious human bei
--- Page 31 ---
Animal Farm.
Nevertheless,towardstheendofJanuaryitbecameobviousthatitwouldbe
necessarytoprocuresomemoregrainfromsomewhere. InthesedaysNapoleon
rarely appeared in public, but spent all his time in the farmhouse, which was
guarded at each door by fierce-looking dogs. When he did emerge, it was in a
ce
--- Page 32 ---
believing this even after the mislaid key was found under a sack of meal. The
cowsdeclaredunanimouslythatSnowballcreptintotheirstallsandmilkedthem
intheirsleep. Therats,whichhadbeentroublesomethatwinter,werealsosaid
to be in league with Snowball.
Napoleon decreed that there should be a full investig
--- Page 33 ---
grazed him. I could show you this in his own writing, if you were able to read
it. The plot was for Snowball, at the critical moment, to give the signal for
flight and leave the field to the enemy. And he very nearly succeeded ‚Äî I will
even say, comrades, he would have succeeded if it had not been f
--- Page 34 ---
to confess their crimes. They were the same four pigs as had protested when
NapoleonabolishedtheSundayMeetings. Withoutanyfurtherpromptingthey
confessed that they had been secretly in touch with Snowball ever since his
expulsion, that they had collaborated with him in destroying the windmill, and
th
--- Page 35 ---
farm‚Äîandwithakindofsurprisetheyrememberedthatitwastheirownfarm,
every inch of it their own property ‚Äî appeared to the animals so desirable a
place. AsCloverlookeddownthehillsidehereyesfilledwithtears. Ifshecould
havespokenherthoughts,itwouldhavebeentosaythatthiswasnotwhatthey
hadaimedatwhentheyhadse
--- Page 36 ---
VIII
Afewdayslater,whentheterrorcausedbytheexecutionshaddieddown,some
of the animals remembered ‚Äî or thought they remembered ‚Äî that the Sixth
Commandmentdecreed‚ÄòNoanimalshallkillanyotheranimal.‚Äô Andthoughno
onecaredtomentionitinthehearingofthepigsorthedogs,itwasfeltthatthe
killings which had taken p
--- Page 37 ---
SquealerwouldtalkwiththetearsrollingdownhischeeksofNapoleon‚Äôswisdom
the goodness of his heart, and the deep love he bore to all animals everywhere,
evenandespeciallytheunhappyanimalswhostilllivedinignoranceandslavery
on other farms. It had become usual to give Napoleon the credit for every suc-
cess
--- Page 38 ---
each corner, and a young pig named Pinkeye was given the task of tasting all
his food before he ate it, lest it should be poisoned.
AtaboutthesametimeitwasgivenoutthatNapoleonhadarrangedtosell
the pile of timber to Mr. Pilkington; he was also going to enter into a regu-
lar agreement for the exchang
--- Page 39 ---
them low this time! And when they thought of how they had laboured, what
discouragements they had overcome, and the enormous difference that would
be made in their lives when the sails were turning and the dynamos running ‚Äî
when they thought of all this, their tiredness forsook them and they gamboll
--- Page 40 ---
treacherous deed the worst was to be expected. Frederick and his men might
maketheirlong-expectedattackatanymoment. Sentinelswereplacedatallthe
approaches to the farm. In addition, four pigeons were sent to Foxwood with a
conciliatorymessage,whichitwashopedmightre-establishgoodrelationswith
Pilkingt
--- Page 41 ---
tail chipped by a pellet. But the men did not go unscathed either. Three of
them had their heads broken by blows from Boxer‚Äôs hoofs; another was gored
in the belly by a cow‚Äôs horn; another had his trousers nearly torn off by Jessie
and Bluebell. And when the nine dogs of Napoleon‚Äôs own bodyguard, wh
--- Page 42 ---
were given over to celebrations. There were songs, speeches, and more firing of
the gun, and a special gift of an apple was bestowed on every animal, with two
ounces of corn for each bird and three biscuits for each dog. It was announced
that the battle would be called the Battle of the Windmill, an
--- Page 43 ---
rememberedwrong. TheyhadthoughttheFifthCommandmentwas‚ÄòNoanimal
shalldrinkalcohol,‚Äôbutthereweretwowordsthattheyhadforgotten. Actually
the Commandment read: ‚ÄòNo animal shall drink alcohol to excess.‚Äô
42
--- Page 44 ---
IX
Boxer‚Äôs split hoof was a long time in healing. They had started the rebuilding
of the windmill the day after the victory celebrations were ended Boxer refused
to take even a day off work, and made it a point of honour not to let it be seen
that he was in pain. In the evenings he would admit priva
--- Page 45 ---
theywerefree,andthatmadeallthedifference,asSquealerdidnotfailtopoint
out.
There were many more mouths to feed now. In the autumn the four sows
had all littered about simultaneously, producing thirty-one young pigs between
them. The young pigs were piebald, and as Napoleon was the only boar on
the fa
--- Page 46 ---
offoodstuffs,andonoccasionashotwasfiredfromthegun. Thesheepwerethe
greatest devotees of the Spontaneous Demonstration, and if anyone complained
(as a few animals sometimes did, when no pigs or dogs were near) that they
wasted time and meant a lot of standing about in the cold, the sheep were sure
to
--- Page 47 ---
were seen to form the words, ‚ÄòI will work harder‚Äô; he had no voice left. Once
again Clover and Benjamin warned him to take care of his health, but Boxer
paid no attention. His twelfth birthday was approaching. He did not care what
happened so long as a good store of stone was accumulated before he w
--- Page 48 ---
and it was in the middle of the day when the van came to take him away. The
animals were all at work weeding turnips under the supervision of a pig, when
they were astonished to see Benjamin come galloping from the direction of the
farm buildings, braying at the top of his voice. It was the first ti
--- Page 49 ---
Boxer‚Äôs last hours.
‚ÄòIt was the most affecting sight I have ever seen!‚Äô said Squealer, lifting his
trotter and wiping away a tear. ‚ÄòI was at his bedside at the very last. And at
the end, almost too weak to speak, he whispered in my ear that his sole sorrow
was to have passed on before the windmill w
--- Page 50 ---
X
Years passed. The seasons came and went, the short animal lives fled by. A
time came when there was no one who remembered the old days before the
Rebellion,exceptClover,Benjamin,Mosestheraven,andanumberofthepigs.
Muriel was dead; Bluebell, Jessie, and Pincher were dead. Jones too was
dead ‚Äî he had
--- Page 51 ---
dogs. Perhaps this was partly because there were so many pigs and so many
dogs. It was not that these creatures did not work, after their fashion. There
was, as Squealer was never tired of explaining, endless work in the supervision
and organisation of the farm. Much of this work was of a kind that
--- Page 52 ---
become overgrown with birch saplings. The sheep spent the whole day there
browsing at the leaves under Squealer‚Äôs supervision. Inthe evening he returned
to the farmhouse himself, but, as it was warm weather, told the sheep to stay
where they were. It ended by their remaining there for a whole week,
--- Page 53 ---
ALL ANIMALS ARE EQUAL
BUT SOME ANIMALS ARE MORE EQUAL THAN OTHERS
After that it did not seem strange when next day the pigs who were su-
pervising the work of the farm all carried whips in their trotters. It did not
seem strange to learn that the pigs had bought themselves a wireless set, were
arran
--- Page 54 ---
employees. But all such doubts were now dispelled. Today he and his friends
hadvisitedAnimalFarmandinspectedeveryinchofitwiththeirowneyes,and
what did they find? Not only the most up-to-date methods, but a discipline
and an orderliness which should be an example to all farmers everywhere. He
believe
--- Page 55 ---
and neighbourly speech. Mr. Pilkington had referred throughout to ‚ÄòAnimal
Farm.‚Äô He could not of course know ‚Äî for he, Napoleon, was only now for the
first time announcing it ‚Äî that the name ‚ÄòAnimal Farm‚Äô had been abolished.
Henceforward the farm was to be known as ‚ÄòThe Manor Farm‚Äô ‚Äî which, he
belie

üìä BONUS ‚Äî Extract tables from PDF (BIG WIN)

In [40]:
with pdfplumber.open(pdf_path) as pdf:
    page = pdf.pages[0]
    tables = page.extract_tables()

print("Number of tables found:", len(tables))

if len(tables) == 0:
    print("No tables detected on this page")
else:
    table = tables[0]
    df = pd.DataFrame(table[1:], columns=table[0])
    df

Number of tables found: 0
No tables detected on this page

Cleaning Dataset

Missing Data in Pandas (Quick Notes)
What we will learn:

How to identify missing data in DataFrames

How to treat missing values (delete or impute)

Why data can be missing:

Human errors during data entry

Information not available (e.g., DOB of some users)

Unknown or unrecorded reasons

How missing data is represented in Python:

NaN (Not a Number)

NULL / None

üëâ In Pandas, both are treated as missing values

Focus of this section:

Detecting missing values in Pandas DataFrames

Handling missing data using deletion or imputation

Internal storage differences are not covered

-->There are four main methods to identify and treat missing data:

-isnull(): Indicates presence of missing values, returns a boolean.
-notnull(): Opposite of isnull(), returns a boolean.
-dropna(): Drops the missing values from a DataFrame and returns the rest.
-fillna(): Fills (or imputes) the missing values by a specified value.

In [42]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/melbourne.csv")

In [43]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [44]:
df.shape

(23547, 21)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         23547 non-null  object
 1   Address        23547 non-null  object
 2   Rooms          23547 non-null  int64
 3   Type           23547 non-null  object
 4   Price          18396 non-null  float64
 5   Method         23547 non-null  object
 6   SellerG        23547 non-null  object
 7   Date           23547 non-null  object
 8   Distance       23546 non-null  float64
 9   Postcode       23546 non-null  float64
 10  Bedroom2       19066 non-null  float64
 11  Bathroom       19063 non-null  float64
 12  Car            18921 non-null  float64
 13  Landsize       17410 non-null  float64
 14  BuildingArea   10018 non-null  float64
 15  YearBuilt      11540 non-null  float64
 16  CouncilArea    15656 non-null  object
 17  Lattitude      19243 non-null  float64
 18  Longtitude     19243 non-null  float64
 19  Regionname     23546 non-null  object
 20  Propertycount  23546 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

In [46]:
df.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23543,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23544,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23545,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23546,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [47]:
df.isnull().sum()#to know how many missing values are there column wise

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [48]:
#columns having atleast 1 missing value
df.isnull().any()

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [49]:
#check the same column wise which is same as the previous command
df.isnull().any(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [50]:
df.isnull().any(axis=1)#row wise

0         True
1         True
2        False
3         True
4        False
         ...
23542     True
23543     True
23544     True
23545     True
23546     True
Length: 23547, dtype: bool

In [51]:
#lets check if there is any row where value of every column is null that means its a blank row we need to remove it
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
23542    False
23543    False
23544    False
23545    False
23546    False
Length: 23547, dtype: bool

In [52]:
#sumitup to check the sum of all such values
df.isnull().all(axis=1).sum()

np.int64(0)

In [53]:
#lets check how many missing values are there row wise
df.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23542    2
23543    8
23544    4
23545    1
23546    2
Length: 23547, dtype: int64

Treating Missing Values
Missing values can be handled in one of two ways:

1.Delete: Remove the values that aren‚Äôt present.

2.Impute:Using a simple statistic to infer: Replace the missing values with another value, such as the mean, median, or mode.
Techniques for prediction: To predict and impute missing values, use statistical models such as kNN, SVM, and others.
Imputation, in general, makes assumptions about missing values and replaces them with arbitrary estimates such as mean, median, and so on. It should only be used if you are pretty certain about your assumptions.



Otherwise, deletion is usually the safest and more recommended option. You could lose some information, but you won‚Äôt make any irrational assumptions.

In [54]:
#Summing up the missing values (column wise)
round(100*(df.isnull().sum()/len(df.index)),2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [55]:
#As the percentage of missing values is more than 50% in these 3 columns we need to drop these it wont contribute any thing
df=df.drop("BuildingArea",axis=1)
df=df.drop("YearBuilt",axis=1)
df=df.drop("CouncilArea",axis=1)

In [56]:
#now the maximum null values in a column is 26%
#Summing up the missing values (column wise)
round(100*(df.isnull().sum()/len(df.index)),2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [57]:
df[df.isnull().sum(axis=1)>5]#lets check any row which have missing values in more than 5 columns

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,Templestowe Lower,1/207 Manningham Rd,2,u,550000.0,PI,Barry,26-08-2017,12.4,3107.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,5420.0
23499,Thornbury,1/128 Dundas St,2,t,770000.0,PI,McGrath,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23502,Thornbury,111 Pender St,2,t,858000.0,S,Jellis,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23531,Werribee,91 Latham St,4,h,540000.0,PI,Triwest,26-08-2017,14.7,3030.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0

In [58]:
#count the number of rows having >5 missing values
#use len(df.index)
len(df[df.isnull().sum(axis=1)>5].index)
# NOTE: df.isnull()
# NOTE: Creates a boolean DataFrame where True indicates a missing (NaN) value

# NOTE: .sum(axis=1)
# NOTE: Counts missing values across each row (True=1, False=0)

# NOTE: > 5
# NOTE: Selects rows that have more than 5 missing values

# NOTE: df[ ... ]
# NOTE: Filters the DataFrame to keep only those rows

# NOTE: .index
# NOTE: Returns the index labels of the filtered rows

# NOTE: len(...)
# NOTE: Counts how many such rows exist

4278

In [59]:
#calculate the percentage of these rows that have more than 5 missinf values in them
100*(len(df[df.isnull().sum(axis=1)>5].index)/len(df.index))

18.16791948018856

In [60]:
#lets remove this rows
#retain the rows having <=5 NaNs
df=df[df.isnull().sum(axis=1)<=5]

In [61]:
round(100*(df.isnull().sum()/len(df.index)),2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.71
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          1.05
Bathroom          1.07
Car               1.81
Landsize          9.65
Lattitude         0.13
Longtitude        0.13
Regionname        0.00
Propertycount     0.00
dtype: float64

In [62]:
#As the target variable/column is price
# we can drop the rows having null values in the price column
df=df[~np.isnan(df["Price"])]
round(100*(df.isnull().sum()/len(df.index)),2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         1.05
Bathroom         1.07
Car              1.76
Landsize         9.83
Lattitude        0.15
Longtitude       0.15
Regionname       0.00
Propertycount    0.00
dtype: float64

In [63]:
#land size column has 9% null value lets check this
df["Landsize"].describe()
#optional
# NOTE: `count` represents the number of NON-missing values in the column
# NOTE: If count < total number of rows, missing values are present

# NOTE: Mean formula -> mean = (sum of values) / n
# NOTE: Max formula -> max = maximum observed value
# NOTE: If max >> mean, the distribution has a long right tail (right skew)

# NOTE: Median = 50th percentile (robust to outliers)
# NOTE: Rule: If mean > median, data is positively (right) skewed
# NOTE: In this column: mean (558) > median (440) confirms right skewness

# NOTE: Standard deviation formula -> std = sqrt( sum((x - mean)^2) / n )
# NOTE: Large std relative to mean indicates extreme variability
# NOTE: Here std (3987) >> mean (558), suggesting strong outliers

# NOTE: Min = 0 means zero exists in the data
# NOTE: Zero should NOT be treated as missing unless domain knowledge says so

# NOTE: IQR formula -> IQR = Q3 - Q1
# NOTE: Upper outlier bound = Q3 + 1.5 * IQR
# NOTE: Values far above this bound are considered extreme outliers

count     13603.000000
mean        558.116371
std        3987.326586
min           0.000000
25%         176.500000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

In [64]:
#lets remove the rows which contains null values in the "Landsize "column
df=df[~np.isnan(df["Landsize"])]

In [65]:
round(100*(df.isnull().sum()/len(df.index)),2)#lets check the percentage of missing value

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [66]:
#We learnt how to handle missing values by deleting them. Now let's learn how to impute them with the mean value of the overall column

In [67]:
df.loc[:,["Lattitude","Longtitude"]].describe()

          Lattitude    Longtitude
count  13581.000000  13581.000000
mean     -37.809204    144.995221
std        0.079257      0.103913
min      -38.182550    144.431810
25%      -37.856820    144.929600
50%      -37.802360    145.000100
75%      -37.756400    145.058320
max      -37.408530    145.526350

In [68]:
#As the std deviation is very less we can use mean imputation here
#imputing the latititidea and longtitude by mean values
df.loc[np.isnan(df["Lattitude"]),["Lattitude"]]=df["Lattitude"].mean()
df.loc[np.isnan(df["Longtitude"]),["Longtitude"]]=df["longtitude"].mean()
# ===================== NOTES: Boolean Indexing with loc & np.isnan =====================
#
# 1. df["Lattitude"] returns a pandas Series (NOT a DataFrame).
#    - A Series is 1-dimensional (only one axis).
#    - Hence, there is NO need to specify axis=0 or axis=1.
#
# 2. np.isnan(df["Lattitude"]) works element-wise on the Series
#    and returns a boolean Series:
#       True  -> value is NaN
#       False -> value is NOT NaN
#
# 3. The boolean Series has the SAME index as the DataFrame.
#    Pandas automatically aligns it with df.index.
#
# 4. When used inside df.loc[ boolean_condition , column ],
#    pandas interprets the boolean Series as a ROW filter.
#
#    Syntax:
#    df.loc[ROWS_TO_SELECT, COLUMNS_TO_UPDATE] = VALUE
#
# 5. Even if the same column name appears twice in loc[],
#    they serve DIFFERENT purposes:
#       - First occurrence  -> to identify rows (condition)
#       - Second occurrence -> to specify which column to assign values to
#
# 6. Axis is required ONLY for 2D objects (DataFrames),
#    but NOT for Series (1D objects).
#
# Example:
# df.loc[np.isnan(df["Lattitude"]), ["Lattitude"]] = df["Lattitude"].mean()
#
# Meaning:
# "For rows where Lattitude is NaN, replace Lattitude with its mean value"
#
# =======================================================================================

KeyError: 'longtitude'

In [69]:
round(100*(df.isnull().sum()/len(df.index)),2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.00
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [70]:
round(df.isna().mean() * 100, 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.00
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [71]:
#columns left with null values car and bathroom lets take a statistical description of both the columns
df.loc[:,["Car","Bathroom"]].describe()

                Car      Bathroom
count  13540.000000  13602.000000
mean       1.610414      1.534921
std        0.962244      0.691834
min        0.000000      0.000000
25%        1.000000      1.000000
50%        2.000000      1.000000
75%        2.000000      2.000000
max       10.000000      8.000000

In [72]:
#the things we got to know from the above describe()
#1.These 2 are integer variables which has values 0,1,2 so you cannot imoute mean or median because 1.5 bathrooms doesnt make any sense
#Thus you need them to impute with mode the most occuring values inside the column
#Convert the type to category
df["Car"]=df["Car"].astype("category")
#Displying frequency of each categories
df["Car"].value_counts()

Car
2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: count, dtype: int64

In [73]:
#Most common value of car or most frequency of the value wich appears more in the column is 2
#lets impute the value of the nans with 2
df.loc[pd.isnull(df["Car"]),["Car"]]=2
#df["Car"].fillna(2, inplace=True)#we can also use this here

In [74]:
round(df.isna().mean() * 100, 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.00
Landsize         0.00
Lattitude        0.00
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [75]:
#Convert to type bathroom
df["Bathroom"]=df["Bathroom"].astype("category")
#check frequency of each categories
print(df["Bathroom"].value_counts())
#Impute nan by 1 as its the most occuring values in the column
df["Bathroom"].fillna(1,inplace=True)

Bathroom
1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
7.0       2
8.0       2
Name: count, dtype: int64

/tmp/ipython-input-513992123.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Bathroom"].fillna(1,inplace=True)

In [76]:
#

In [77]:
#Lets check what changes we have done so far after getting 0 null values and lets compare it with the original dataset we got
df.shape

(13603, 18)

In [78]:
#Fraction of rows lost
len(df.index)/23547#

0.5776956724848176

In [79]:
#Question1.
#Print out the number of missing values in each column in the given dataframe.
import pandas as pd
import numpy as np
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23.0,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13.0,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26.0,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43.0,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35.0,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:

print(df.isna().sum())

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8379 non-null   float64
 5   Discount             8344 non-null   float64
 6   Order_Quantity       8344 non-null   float64
 7   Profit               8344 non-null   float64
 8   Shipping_Cost        8344 non-null   float64
 9   Product_Base_Margin  8290 non-null   float64
dtypes: float64(6), object(4)
memory usage: 656.3+ KB