<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/DataScienceAndAI-/blob/main/Part_2_For_Ds%5BPart_2_Data_Structures_in_Python%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A data structure is nothing but a collection of data values.

In [ ]:
'''A tuple contains a sequence of comma-separated values within parentheses.
An essential feature of a tuple is immutability, which means the elements of a tuple cannot be altered.
It is used to store data such as employee information, which is not allowed to be changed.'''
#Ex:('Gupta', 24 , 'Project Manager')

In [ ]:
#Tuples
#1.stores mix data types.
#Declared in a curly bracket().and also declared without any bracket.
#These are immutable

In [ ]:
t=("Anshu",12,4.5)
t2="Anshuman",6.7,7.9,3

In [ ]:
print(type(t))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [ ]:
print(t)

('Anshu', 12, 4.5)

In [ ]:
print(t2)

('Anshuman', 6.7, 7.9, 3)

In [ ]:
#How to declare a single value tuple:you can use comma without paranthesis() or with paranthesis example givemn below
svt=1,
svt1=(3,)
#Both are single value tuples
print(svt,type(svt))
print(svt1,type(svt1))

(1,) <class 'tuple'>
(3,) <class 'tuple'>

In [ ]:
#Indexing in Tuple
t20=("Mumbai",84,"python")

In [ ]:
t20[1]

84

In [ ]:
#negative indexing
t20[-1]

'python'

In [ ]:
t20[0:3]

('Mumbai', 84, 'python')

In [ ]:
t20[-2:]

(84, 'python')

In [ ]:
t20[-3:]

('Mumbai', 84, 'python')

In [ ]:
len(t20)

3

In [ ]:
#Concatenating Tuples
tup1=(1,2,3,4)
tup2=("one","two","three","four")
tup_result=tup1+tup2

In [ ]:
print(tup_result)

(1, 2, 3, 4, 'one', 'two', 'three', 'four')

In [ ]:
#Sum,min,max methods
sum(tup1)

10

In [ ]:
min(tup1)

1

In [ ]:
max(tup1)

4

In [ ]:
#How to change the value of a tuple
newtuple=tup1[0:2]+("hard one",)+tup1[3:]
#here we added one element "hard one" in a form of single value tuple in to a new tuple

In [ ]:
print(newtuple)

(1, 2, 'hard one', 4)

In [ ]:
#Sorting a tuple:Usins sorted()function a built in function
tup1sort=1,2,3,4,5,6,7,5,6,7

In [ ]:
sorted(tup1sort)

[1, 2, 3, 4, 5, 5, 6, 6, 7, 7]

In [ ]:
tup1sort2=("one",1,23,21,"three")

In [ ]:
sorted(tup1sort2)#Showing error as string elements  cannot be sorted

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#Nested Tuples:Tuples inside a tuple
nt=(1,5,"Disco",("python","Java"))

In [ ]:
#Packing and unpacking of tuples

In [ ]:
#packing:
tuple_pack_unpack=(1,2,3,4,5)
#unpacking:
(a,b,c,d,e)= tuple_pack_unpack


print(a)

1

1

In [ ]:
(a,b,c,*d)=tuple_pack_unpack#* is used to pack the remaining values not the variable d
print(d)
#Similarly if you want to skip any value then use under score_ while un packing example given below
(a,_,b_,*d)=tuple_pack_unpack
print(b)#It wont print 3

[4, 5]
2

In [ ]:
#The dir() function in Python is used to inspect the attributes (like variables, methods, functions)
#of an object,module, class, or scope.
tupleexample=(1,2,3,4)
dir(tupleexample)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#<----------------------#List Starts here#--------------->

In [ ]:
#Lists offer flexibility in updating, deleting, adding operations and much more.

In [ ]:
# enclosed in square brackets[]

In [ ]:
#List declaration styles
l1=[1,2,3,4,[1,2,3],(1,9,8),True,False]#Can use tuples and list and any datatype inside a list

In [ ]:
print(l1)

[1, 2, 3, 4, [1, 2, 3], (1, 9, 8), True, False]

In [ ]:
#Indexing and slicing same as tuple

In [ ]:
#Membership in the list
print(1 in l1) #true because l1 is present in the list
print(99 not in l1)#true

True
True

In [ ]:
#List concatenation is same as tuple
l2=[99,100]
l3=l1+l2
l4=l1[0:2]+l2

In [ ]:
print(l3)
print(l4)

[1, 2, 3, 4, [1, 2, 3], (1, 9, 8), True, False, 99, 100]
[1, 2, 99, 100]

In [ ]:
#Most of the properties of lists are the same as those of tuples, except for one major difference:
#Lists are mutable, which means the elements of a list can be changed.

In [ ]:
#We can add an element to a declared list example

In [ ]:
listd=[1,2,3,4,5,6,7]

In [ ]:
#Replace in the origional list
listd[1]=3
print(listd)#now the 2 is replaced with 3

[1, 3, 3, 4, 5, 6, 7]

In [ ]:
#extend()
listd.extend([8,9])#Always takes an iterable object and adds it as an indivu=isual element in the list
print(listd)

[1, 3, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#append()
listd.append([5,8])#Takes an iterable object and adds as it is
print(listd)

[1, 3, 3, 4, 5, 6, 7, 8, 9, [5, 8]]

In [ ]:
#Delete an element(remove(the element) ,del(index of the element),and pop() method)
listd.remove(6)
del(listd[-1])
print(listd)

[1, 3, 3, 4, 5, 7, 8, 9]

In [ ]:
del(listd[0:2])
print(listd)

[3, 4, 5, 7, 8, 9]

In [ ]:
#pop():Deletes the last element from the list and returns the element it removed as an output
listd.pop()

9

In [ ]:
print(listd)

[3, 4, 5, 7, 8]

In [ ]:
#Sorting list-list.sort()
listd.sort()

In [ ]:
print(listd)

[3, 4, 5, 7, 8]

In [ ]:
#Difference between sort and sorted

In [ ]:
'''
1.sort():
Method of a list object.

Modifies the list in place (changes the original list).

Returns None.

Only works on lists.

2.sorted()
Built-in function.

Returns a new sorted list, leaving the original unchanged.

Can work on any iterable (list, tuple, string, etc.).

,,,

In [ ]:
#example
listsort=[1,2,3,4,5]
listsort.sort()
print(listsort)
#Sort the list in desecending order
listsort.sort(reverse=True)
print(listsort)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
a=["org","app","Mango"]
b=a.sort()#It sorts the list according to the ascii value and returns nothing it sorts the original value(the sort())
print(a)
print(b)

['Mango', 'app', 'org']
None

In [ ]:
#But when we are using sorted it returns a new list
c=sorted(a)
print(a)
print(c)

['Mango', 'app', 'org']
['Mango', 'app', 'org']

In [ ]:
#Shallow copying
x=[1,2,3]
y=x
x[0]=0#we only changed in list x not in y
print(x)
print(y)
#still the change is visible in y too.because when = is used to assign values of x to y it just refers the address of the original list

[0, 2, 3]
[0, 2, 3]

In [ ]:
#To over come the above problem we use shallow copying.Example given below

In [ ]:
z=x[:]#we will use end to end slicing then lets see if we change any thing in x does it refects in z too

In [ ]:
x[2]=2
print(x)
print(z)

[0, 2, 2]
[0, 2, 3]

In [ ]:
#As you can see it doesnt make any changes

In [ ]:
#-------------------------SETS--------------------

In [ ]:
#Sets:
#1.type of collection like list and tuple stores mixed data type elements
#2.enclosed within {}
#3.set is unorderd so every element can be indexed.
#4.Doesnot allow duplicates it allows unique values
#5.Sets are mutable

In [ ]:
l={1,2,3,4,5,6,6}

In [ ]:
  type(l)

set

In [ ]:
print(l)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Here we can see it has removed the duplicate element 6 even if i Gve it as an input to be the element of the set

In [ ]:
#add elements
l.add("India")

In [ ]:
print(l)

{1, 2, 3, 4, 5, 6, 'India'}

In [ ]:
#Remove element
l.remove(5)

In [ ]:
print(l)

{1, 2, 3, 4, 6, 'India'}

In [ ]:
#Implement set operations on the sets
#Union,intersection,difference,symmetric difference

In [ ]:
A={0,1,2,3,4,5}
B={4,5,6,7,8,9}

In [ ]:
print(A.union(B))
#or we can write like this
print(A|B)
#Both does the union operation

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(A.intersection(B))
#or we can write like this
print(A&B)
#Both does the intersection operation

{4, 5}
{4, 5}

In [ ]:
print(A.difference(B))
#or we can write like this
print(A-B)
#Both does the difference operation

{0, 1, 2, 3}
{0, 1, 2, 3}

In [ ]:
print(A.symmetric_difference(B))
#or we can write like this
print(A^B)
#Both does the Symmetric difference operation

#The symmetric difference of two sets is the set of elements that are in either of the sets,
#but not in both.

{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [ ]:
(A.union(B)).difference(A.intersection(B))

{0, 1, 2, 3, 6, 7, 8, 9}

In [ ]:
#---------------------DICTIONARIES----------------------

In [ ]:
#Dictionary stores the values in key value pair.
#key is the index in the dictionary it is always unique and immutable
#the values are object used to store information and can be accessed using their unique keys
#the values can be mutable,immutable and duplicate

In [ ]:
#Lets create a dictionary #where the country name is the key and the currency is the value

In [ ]:
d={"India":"inr","USA":"usd","France":"euros"}

In [ ]:
type(d)

dict

In [ ]:
#Access values using Key
d["India"]

'inr'

In [ ]:
#Replace the value for a key in the dictionary
d["India"]="Rs"

In [ ]:
print(d)

{'India': 'Rs', 'USA': 'usd', 'France': 'euros'}

In [ ]:
#Insert a key value pair in the dict
d["Japan"]="yen"

In [ ]:
print(d)

{'India': 'Rs', 'USA': 'usd', 'France': 'euros', 'Japan': 'yen'}

In [ ]:
#Deleting a kv pair
del d["France"]

In [ ]:
print(d)

{'India': 'Rs', 'USA': 'usd', 'Japan': 'yen'}

In [ ]:
#Sort a dictionary
sorted(d)

['India', 'Japan', 'USA']

In [ ]:
#value()method:
d.values()

dict_values(['Rs', 'usd', 'yen'])

In [ ]:
#Keys() method:
d.keys()

dict_keys(['India', 'USA', 'Japan'])

In [ ]:
#Update() method
d.update({"India":"rupees"})

In [ ]:
print(d)

{'India': 'rupees', 'USA': 'usd', 'Japan': 'yen'}

In [ ]:
#difference between emptyset and empty dictionary

In [ ]:
empdict={}#declaration of empty dictionary
print(type(empdict))
empset=set({})#Declaration of empty set
print(type(empset))

<class 'dict'>
<class 'set'>

In [ ]:
a=(1,2,3,4)#tuple
b={1,2,3,4}#set
c=tuple(b)
d=list(c)

In [ ]:
type(a)
print(type(b))
print(type(c))
print(type(d))

<class 'set'>
<class 'tuple'>
<class 'list'>

In [ ]:
dict1={"a":1,"b":2,"c":3}

In [ ]:
x=list(dict1)#by default it will convert keys of the dictionary to the list

In [ ]:
y=list(dict1.values())#it will convert the values ogf the dictionary in to list

In [ ]:
z=list(dict1.keys())

In [ ]:
print(x)
print(y)
print(z)

['a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c']