<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/DataScienceAndAI-/blob/main/Programming_in_python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Fisrst part will bw here from swapping to other

In [ ]:
#Swapping (using 2 variables)
x=20
y=30
x=x+y
y=x-y
x=x-y
print(x,y)

30 20

In [ ]:
#We will try these problems.
'''
Smallest Element
Above Average
Recruit New Members
Calendar
Fenced Matrix
'''

'\nSmallest Element\nAbove Average\nRecruit New Members\nCalendar\nFenced Matrix\n'

In [ ]:
a=[1,2,3,4,5]

if len(a)==0:
  print("no minimum element")
else:
  m=a[0]
  for item in a:
    if item<m:
      m=item

In [ ]:
print(m)

1

In [ ]:
#Using min function to find the smallest element
b=min(a)
print(b)

1

In [ ]:
#Above average
sum=0
for i in a:
  sum=sum+i
print(sum)
print("The average is :",(sum/(len(a))))

15
The average is : 3.0

In [ ]:
avg=sum/(len(a))

In [ ]:
for i in a:
  if i>avg:
    print(i)

4
5

In [ ]:
for i in range(1,5):
  print (i)

1
2
3
4

In [ ]:
#Calender problem
occup=[[1,4],[7,10],[8,8],[14,23]]
wed=int(input())
clash=0
for ev in occup:
  if ev[0]<=wed and ev[1]>=wed:
    clash=clash+1

print(clash)

43
0

In [ ]:
#Fenced Matrix
'''
You will be given two positive integers m and n.
You have to make a list of lists (which can be visualised as a matrix) of size m*n,
that is m sublists (rows), with each sublist having n integers (columns).
The matrix should be such that it should have 1 on the border and 0 everywhere else.'''

In [ ]:
m=int(input("Enter the number of rows"))
n=int(input("Enter the number of columns"))

Enter the number of rows3
Enter the number of columns4

In [ ]:
o=(input())
type(o)
#input method by default returns str

67

str

In [ ]:
final=[0]*n
print(final)

[0, 0, 0, 0]

In [ ]:
print(list(final))

[0, 0, 0, 0]

In [ ]:
final=[list(final) for i in range(m)]

In [ ]:
print(final)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
for i in range(m):
  for j in range(n):
    if i==0 or j==0 or i==m-1 or j==n-1:
      final[i][j]=i

In [ ]:
for i in final:
  print(i)

[0, 0, 0, 0]
[1, 0, 0, 1]
[2, 2, 2, 2]

In [ ]:
'''
Palindrome
Reverse Words
No Spaces
Move Vowels
Common Prefix
Anagrams

'''

In [ ]:
print(chr(51))

3

In [ ]:
#The chr() function returns a string that represents a character with an integer ASCII code point.

In [ ]:
#Pallindrome:cuttuc first character matches with last character

In [ ]:
s="Cuttuc"
#Convert to lowercase
t=s.lower()

In [ ]:
print(t)

cuttuc

In [ ]:
#to check its pallindrome or not just reverse and check it is equal with the previous string|

In [ ]:
revt=""
for i in t:
  revt=revt+i

print(revt)

cuttuc

In [ ]:
if(revt==t):
  print("t is a pallindrome")

t is a pallindrome

In [ ]:
#Alternative for the abpve snippet
revxt=t[-1::-1]
print(revxt)

cuttuc

In [ ]:
if(revxt==t):
  print("t is a pallindrome")

t is a pallindrome

In [ ]:
#Reverse the words
#input is x="I love you"
#output is y="You love I"

In [ ]:
x="I love you"
m=x.split(" ")
#The output type of split() is always a list of strings (list[str]).

In [ ]:
print(m)

['I', 'love', 'you']

In [ ]:
y=m[-1::-1]
print(y)

NameError: name 'm' is not defined

In [ ]:

'''
" ".join(words)

" " → this is the separator (a single space here).

.join(words) → takes each element of the list words and joins them into one string,
 placing the separator between them.

 '''

'\n" ".join(words)\n\n" " → this is the separator (a single space here).\n\n.join(words) → takes each element of the list words and joins them into one string,\n placing the separator between them.\n \n '

In [ ]:
z=" ".join(y)

NameError: name 'y' is not defined

In [ ]:
print(z)

NameError: name 'z' is not defined

In [ ]:
#Convert a string in to no space and camelcased(where every first character of the word in the string is capital and )
#Input="calorie Consumed"
#Output="Calorie_Consumed"

In [ ]:
#Solution 1

In [ ]:
Input="calorie Consumed"
replaced=Input.replace(" ","_")

In [ ]:
print(replaced)

calorie_Consumed

In [ ]:
replaced_lowercase=replaced.lower()

In [ ]:
print(replaced_lowercase)

calorie_consumed

In [ ]:
replaced_lowercaselist=replaced_lowercase.split("_")

In [ ]:
print(replaced_lowercaselist)

['calorie', 'consumed']

In [ ]:
for i in replaced_lowercaselist:
  J=i[0].upper()+i[1:]

In [ ]:
print(J)

Cconsumed

In [ ]:
#Solution 1 didnt work

In [ ]:
#lets go for solution 2
#problem is given we need to remove the whitespace and convert the forst character of the word to capital.
#Input="calorie Consumed"
#Output="Calorie_Consumed"

In [ ]:
sx="Calorie consumed"

In [ ]:
#Convert every word in to lowercase
tx=sx.lower()

In [ ]:
words=tx.split(" ")

In [ ]:
#LIST COMPREHENSION IS USED TO CONVERT THE FIRST LETTER OF THE EVERY WORD OF THE LIST TO UPPERCASE.

In [ ]:
FINAL_LIST=[word[0].upper()+word[1:] for word in words]

In [ ]:
Final_String="_".join(FINAL_LIST)

In [ ]:
print(Final_String)

Calorie_Consumed

In [ ]:
#Move vowels in the left side from a word. then keep it in oneplace in the word at left and rest in the same order in the right

In [ ]:
S="Programming"
#Expected output="oaiPrgrmmng"

In [ ]:
vowels="aeiou"
t=S.lower()
v=""
w=""

In [ ]:
for i in t:
  if i in vowels:
    v=v+i
  else:
    w=w+i

In [ ]:
u=v+w

In [ ]:
print(u)

oaiprgrmmng

In [ ]:
#Common prefix
j="Anshuman"
k="Anshughat"
l1=len(j)
l2=len(k)
l3=min(l1,l2)
l=j.lower()
m=k.lower()
prefix=""

In [ ]:
for i in range(l3):
  if l[i]!=m[i]:
    break
  prefix=prefix+l[i]

In [ ]:
print(prefix)

anshu

In [ ]:

#Angram check
x=input()
y=input()
def anagram(x,y):
  if(len(x)!=len(y)):
    return False
  for i in range(len(x)):
    if(x.count(x[i])!=y.count(x[i])):
      return False
  return True

print(anagram(x,y))

anam
naam
True

In [ ]:
#Remove duplicates
list3=[11,1,2,13,1,4,15,1,6,6,13]
d={}
for item in list3:
  if item not in d:
    d[item]=1

print(list(d.keys()))

[11, 1, 2, 13, 4, 15, 6]

In [ ]:
#Convert a dictionary into alist

In [ ]:
d={"pen":["gel","ink","ball"],"Mobile":["android","Apple"]}

In [ ]:
len(d)

2

In [ ]:
#output=["pen-gel","pen-ink","pen-ball","Mobile-android","Mobile-apple"]
#output should be this
list1=[]

In [ ]:
for keys in d.keys():
  for word in d[keys]:
    list1.append(keys+"_"+word)

In [ ]:
list1

['pen_gel', 'pen_ink', 'pen_ball', 'Mobile_android', 'Mobile_Apple']

In [ ]:
c="abbfadasff"
listc=list(c)
print(listc)

['a', 'b', 'b', 'f', 'a', 'd', 'a', 's', 'f', 'f']

In [ ]:
#In the above string we need to check the string is upgrad string or not
#Upgrad string:it means if the character in the string should not have same frequency of occurance

In [ ]:
d1={}

In [ ]:
for i in listc:
 if i not in d:
   d1[i]=1
 else:
  d1[i]=d1[i]+1


vals=d1.values()
n=len(d1)

In [ ]:
def upgraad_string(vals):
 for i in range(1,n+1):
  if i not in vals:
   return False
  else:
   return True

In [ ]:
print(upgraad_string(vals))

In [ ]:
#balanced brackets
st="((((()))))"

In [ ]:
if len(st)%2==0:
  print("True it is a balanced string")
else:
  print("Its not a balanced string")

True it is a balanced string

In [ ]:
#Question to find the cheapest mobile price and mobile model name

In [ ]:
Dict={'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}

9000

In [ ]:
#All the methods used in dictionary
'''
Method	Description
clear()	Remove all items
copy()	Return shallow copy
fromkeys()	Create new dict with given keys and value
get()	Get value for key, or default
items()	Get all key–value pairs
keys()	Get all keys
values()	Get all values
pop()	Remove item by key
popitem()	Remove last inserted item
setdefault()	Get or set default for a key
update()	Merge with another dict

'''

'\nMethod\tDescription\nclear()\tRemove all items\ncopy()\tReturn shallow copy\nfromkeys()\tCreate new dict with given keys and value\nget()\tGet value for key, or default\nitems()\tGet all key–value pairs\nkeys()\tGet all keys\nvalues()\tGet all values\npop()\tRemove item by key\npopitem()\tRemove last inserted item\nsetdefault()\tGet or set default for a key\nupdate()\tMerge with another dict\n\n'

In [ ]:
'''
Method	Arguments	Argument Data Types	Description / Notes
clear()	(none)	—	Removes all items from the dictionary.
copy()	(none)	—	Returns a shallow copy.
fromkeys(seq, value=None)	seq: iterable (list, tuple, string, etc.)
value: any type (optional)	Iterable + any	Creates a new dictionary from given keys with a common value.
get(key, default=None)	key: any hashable type (e.g., str, int, tuple)
default: any type (optional)	Hashable key + any	Returns value for key or default if not found.
items()	(none)	—	Returns view object of key–value pairs.
keys()	(none)	—	Returns view object of dictionary keys.
values()	(none)	—	Returns view object of dictionary values.
pop(key, default=object())	key: any hashable type
default: any type (optional)	Hashable key + any	Removes and returns value for the given key; returns default if not found.
popitem()	(none)	—	Removes and returns the last inserted (key, value) pair.
setdefault(key, default=None)	key: any hashable type
default: any type (optional)	Hashable key + any	Returns value if key exists; otherwise adds key with default value.
update([other], **kwargs)	other: dict or iterable of key–value pairs (optional)
**kwargs: key=value pairs	dict / iterable + keyword args	Updates dictionary with elements from another dict or key–value pairs.
'''

'\nMethod\tArguments\tArgument Data Types\tDescription / Notes\nclear()\t(none)\t—\tRemoves all items from the dictionary.\ncopy()\t(none)\t—\tReturns a shallow copy.\nfromkeys(seq, value=None)\tseq: iterable (list, tuple, string, etc.)\nvalue: any type (optional)\tIterable + any\tCreates a new dictionary from given keys with a common value.\nget(key, default=None)\tkey: any hashable type (e.g., str, int, tuple)\ndefault: any type (optional)\tHashable key + any\tReturns value for key or default if not found.\nitems()\t(none)\t—\tReturns view object of key–value pairs.\nkeys()\t(none)\t—\tReturns view object of dictionary keys.\nvalues()\t(none)\t—\tReturns view object of dictionary values.\npop(key, default=object())\tkey: any hashable type\ndefault: any type (optional)\tHashable key + any\tRemoves and returns value for the given key; returns default if not found.\npopitem()\t(none)\t—\tRemoves and returns the last inserted (key, value) pair.\nsetdefault(key, default=None)\tkey: any hashable type\ndefault: any type (optional)\tHashable key + any\tReturns value if key exists; otherwise adds key with default value.\nupdate([other], **kwargs)\tother: dict or iterable of key–value pairs (optional)\n**kwargs: key=value pairs\tdict / iterable + keyword args\tUpdates dictionary with elements from another dict or key–value pairs.\n'

In [ ]:
minprice=min(Dict.values())
print(y)

9000

In [ ]:
for key,value in Dict.items():
  if value==minprice:
   Modelrequired=key

In [ ]:
print("The model name of the minimum price phone is : "+str(Modelrequired)+" The price is : "+str(minprice))

The model name of the minimum price phone is : mobile4 The price is : 9000

In [ ]:
'''
Maximum Distance
Description
You will be given a list of repeated elements.
You have to find the maximum distance between two same elements.
The answer will be zero if there are no repeated elements.
----------------------------------------------------------------------
Input:
A non-empty list of integers.
Output:
A single integer denoting the maximum distance between two same integers.
----------------------------------------------------------------------
Sample input:
[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
Sample output:
8
Explanation:
Max distance for 1: 5
Max distance for 2: 8
Max distance for 3: 0
Max distance for 4: 0
Max distance for 5: 0
Max distance for 6: 4
Max distance for 7: 0
Max distance for 8: 0
'''

In [ ]:
m=[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

In [ ]:
for x in m:
  if m.count(x)>1: